<a href="https://colab.research.google.com/github/PiotrMaciejKowalski/BigData2022-actors/blob/Wyjanienie-modelu---analiza-bdw/Similarity_tests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
!git clone https://github.com/PiotrMaciejKowalski/BigData2022-actors.git
!mv /content/BigData2022-actors/* .
!mv /content/BigData2022-actors/.* .
!rmdir /content/BigData2022-actors/

Cloning into 'BigData2022-actors'...
remote: Enumerating objects: 1855, done.
remote: Counting objects: 100% (1855/1855), done.
remote: Compressing objects: 100% (829/829), done.
remote: Total 1855 (delta 1154), reused 1662 (delta 1007), pack-reused 0
Receiving objects: 100% (1855/1855), 6.09 MiB | 2.20 MiB/s, done.
Resolving deltas: 100% (1154/1154), done.
mv: cannot move '/content/BigData2022-actors/.' to './.': Device or resource busy
mv: cannot move '/content/BigData2022-actors/..' to './..': Device or resource busy

In [3]:
!git checkout Wyjanienie-modelu---analiza-bdw

Branch 'Wyjanienie-modelu---analiza-bdw' set up to track remote branch 'Wyjanienie-modelu---analiza-bdw' from 'origin'.
Switched to a new branch 'Wyjanienie-modelu---analiza-bdw'

In [4]:
!chmod +x setup_sparka.sh
!./setup_sparka.sh

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 5.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 KB 20.9 MB/s eta 0:00:00
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 19.5 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=3bad2c662a222ef991b4416a9a808e60028c7ce38c5353780f3a6a681d4d6686
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1
--2023-01-22 17:31:13--  https://dlcdn.apache.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop2.tgz
Resolving dlcdn.apache.org (dlcdn.apache.org)... 151.101.2.132, 2a04:4e42::644
Connecting to dlcdn.apache.org (dlcdn.apache.org)|151.101.2.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 274099817 (261M) [application/x-gzip]
Saving to: ‘spark-3.3.1-bin-hadoop2.tgz’

spark-3.3.1-bin-had 100%[===================>] 261.40M   300MB/s    in 0.9s

2023-01-22 17:31:14 (300 MB/s) - ‘spark-3.3.1-bin-hadoop2.tgz’ saved [274099817/274099817]

In [5]:
import pandas as pd
from lib.pyspark_init import create_spark_context
from lib.similarity_utils import *
from lib.const import TRAIN_DATA, VALIDATE_DATA, SIMILARITY_VALUES, RANKINGS

In [6]:
spark = create_spark_context()
spark

In [7]:
!chmod +x download_data.sh
!./download_data.sh

--2023-01-22 17:31:25--  https://datasets.imdbws.com/name.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 13.224.189.53, 13.224.189.103, 13.224.189.23, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|13.224.189.53|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 239771823 (229M) [binary/octet-stream]
Saving to: ‘name.basics.tsv.gz’

name.basics.tsv.gz  100%[===================>] 228.66M  79.7MB/s    in 2.9s

2023-01-22 17:31:28 (79.7 MB/s) - ‘name.basics.tsv.gz’ saved [239771823/239771823]

--2023-01-22 17:31:28--  https://datasets.imdbws.com/title.akas.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 13.224.189.53, 13.224.189.103, 13.224.189.23, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|13.224.189.53|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 294377872 (281M) [binary/octet-stream]
Saving to: ‘title.akas.tsv.gz’

title.akas.tsv.gz   100%[===================>] 280.74M   125MB/s    in 2.2s

2023-01-22 17:31:30 (125 MB/s) - ‘title.akas.tsv.gz’ saved [294377872/294377872]

--2023-01-22 17:31:30--  https://datasets.imdbws.com/title.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 13.224.189.53, 13.224.189.103, 13.224.189.23, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|13.224.189.53|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 166882816 (159M) [binary/octet-stream]
Saving to: ‘title.basics.tsv.gz’

title.basics.tsv.gz 100%[===================>] 159.15M  92.6MB/s    in 1.7s

2023-01-22 17:31:32 (92.6 MB/s) - ‘title.basics.tsv.gz’ saved [166882816/166882816]

--2023-01-22 17:31:32--  https://datasets.imdbws.com/title.crew.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 13.224.189.53, 13.224.189.103, 13.224.189.23, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|13.224.189.53|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 63996127 (61M) [binary/octet-stream]
Saving to: ‘title.crew.tsv.gz’

title.crew.tsv.gz   100%[===================>]  61.03M  78.8MB/s    in 0.8s

2023-01-22 17:31:33 (78.8 MB/s) - ‘title.crew.tsv.gz’ saved [63996127/63996127]

--2023-01-22 17:31:33--  https://datasets.imdbws.com/title.episode.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 13.224.189.53, 13.224.189.103, 13.224.189.23, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|13.224.189.53|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39404173 (38M) [binary/octet-stream]
Saving to: ‘title.episode.tsv.gz’

title.episode.tsv.g 100%[===================>]  37.58M  75.5MB/s    in 0.5s

2023-01-22 17:31:34 (75.5 MB/s) - ‘title.episode.tsv.gz’ saved [39404173/39404173]

--2023-01-22 17:31:34--  https://datasets.imdbws.com/title.principals.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 13.224.189.53, 13.224.189.103, 13.224.189.23, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|13.224.189.53|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 424856462 (405M) [binary/octet-stream]
Saving to: ‘title.principals.tsv.gz’

title.principals.ts 100%[===================>] 405.17M  81.2MB/s    in 4.9s

2023-01-22 17:31:39 (82.0 MB/s) - ‘title.principals.tsv.gz’ saved [424856462/424856462]

--2023-01-22 17:31:39--  https://datasets.imdbws.com/title.ratings.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 13.224.189.53, 13.224.189.103, 13.224.189.23, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|13.224.189.53|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6378252 (6.1M) [binary/octet-stream]
Saving to: ‘title.ratings.tsv.gz’

title.ratings.tsv.g 100%[===================>]   6.08M  --.-KB/s    in 0.1s

2023-01-22 17:31:39 (55.0 MB/s) - ‘title.ratings.tsv.gz’ saved [6378252/6378252]

In [8]:
%%time
train_data = pd.read_parquet(TRAIN_DATA, columns=["nconst", "tconst", "category", "primaryName", "knownForTitles",
                                                  "no_nominations_oscars_norm", "no_nominations_globes_norm",
                                                  "no_nominations_emmy_norm", "no_films_norm",
                                                  "average_films_rating_norm", "genres_code", "types_code"])
validate_data = pd.read_parquet(VALIDATE_DATA, columns=["nconst", "tconst", "category", "primaryName", "knownForTitles",
                                                  "no_nominations_oscars_norm", "no_nominations_globes_norm",
                                                  "no_nominations_emmy_norm", "no_films_norm",
                                                  "average_films_rating_norm", "genres_code", "types_code"])

CPU times: user 31 s, sys: 5.08 s, total: 36.1 s
Wall time: 46 s

# Porównywanie dwóch aktorów

Wyciągnięcie pierwszego aktora

In [9]:
actor1 = "Natalie Portman"

In [10]:
if (train_data['primaryName'] == actor1).any():
    actor1_data = find_actor(train_data,  train_data[train_data['primaryName'] == actor1].iloc[0]['nconst'])
    display(pd.DataFrame(actor1_data))
    actor1_data = prepare_pandas_row(actor1_data)
elif (validate_data['primaryName'] == actor1).any():
    actor1_data = find_actor(validate_data,  validate_data[validate_data['primaryName'] == actor1].iloc[0]['nconst'])
    display(pd.DataFrame(actor1_data))
    actor1_data = prepare_pandas_row(actor1_data)
else:
    print("Aktora nie ma w danych treningowych i walidacyjnych. Wybierz innego aktora.")

                                                                      337799
nconst                                                             nm0000204
tconst                     [tt0121766, tt1032825, tt8918080, tt1094249, t...
titleType                  [movie, movie, video, short, short, movie, mov...
genres                     [Action, Adventure, Fantasy, Drama, Short, Dra...
category                                                             actress
primaryName                                                  Natalie Portman
knownForTitles                  [tt0947798, tt0376541, tt0110413, tt0434409]
average_films_rating_norm                                              0.666
genres_code                [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                 [0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0]

Wyciągnięcie drugiego aktora

In [11]:
actor2 = "Keira Knightley"

In [12]:
if (train_data['primaryName'] == actor2).any():
    actor2_data = find_actor(train_data,  train_data[train_data['primaryName'] == actor2].iloc[0]['nconst'])
    display(pd.DataFrame(actor2_data))
    actor2_data = prepare_pandas_row(actor2_data)
elif (validate_data['primaryName'] == actor2).any():
    actor2_data = find_actor(validate_data,  validate_data[validate_data['primaryName'] == actor2].iloc[0]['nconst'])
    display(pd.DataFrame(actor2_data))
    actor2_data = prepare_pandas_row(actor2_data)
else:
    print("Aktora nie ma w danych treningowych i walidacyjnych. Wybierz innego aktora.")

                                                                      993366
nconst                                                             nm0461136
tconst                     [tt0368925, tt0366627, tt0409997, tt1307068, t...
titleType                  [videoGame, movie, video, movie, movie, movie,...
genres                     [Adventure, Fantasy, Drama, Fantasy, Mystery, ...
category                                                             actress
primaryName                                                  Keira Knightley
knownForTitles                  [tt0325980, tt2084970, tt0783233, tt0414387]
average_films_rating_norm                                              0.648
genres_code                [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                 [1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0]

Wyniki similarity dla tych dwóch aktorów

In [13]:
similarity_value = similarity_new(actor1_data, actor2_data, True)
print("Wartość similarity dla ", actor1, " i ", actor2, " wynosi: ", similarity_value)

Wartość similarity dla  Natalie Portman  i  Keira Knightley  wynosi:  0.16222222222222227

Zapisanie porównywanych par aktorów wraz wartością similarity do pliku na Google Drive.

In [14]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(actor1, actor2, similarity_value)
file_object.write(text)
file_object.close()

Zapisanie wniosków, jeśli wyszło coś ciekawego

# Ranking najbardziej podobnych aktorów do podanego

Wyciągnięcie aktora

In [15]:
actor = "Natalie Portman"

In [16]:
if (train_data['primaryName'] == actor).any():
    actor_data = find_actor(train_data,  train_data[train_data['primaryName'] == actor].iloc[0]['nconst'])
    display(pd.DataFrame(actor_data))
    actor_data = prepare_pandas_row(actor_data)
elif (validate_data['primaryName'] == actor).any():
    actor_data = find_actor(validate_data,  validate_data[validate_data['primaryName'] == actor].iloc[0]['nconst'])
    display(pd.DataFrame(actor_data))
    actor_data = prepare_pandas_row(actor_data)
else:
    print("Aktora nie ma w danych treningowych i walidacyjnych. Wybierz innego aktora.")

                                                                      337799
nconst                                                             nm0000204
tconst                     [tt0121766, tt1032825, tt8918080, tt1094249, t...
titleType                  [movie, movie, video, short, short, movie, mov...
genres                     [Action, Adventure, Fantasy, Drama, Short, Dra...
category                                                             actress
primaryName                                                  Natalie Portman
knownForTitles                  [tt0947798, tt0376541, tt0110413, tt0434409]
average_films_rating_norm                                              0.666
genres_code                [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                 [0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0]

Ranking 3 najbardziej podobnych aktorów do podanego powyżej

In [17]:
if (train_data['primaryName'] == actor).any():
    ids, values = similarity_one_vs_all_new(train_data, actor_data, True)
    ids, values = select_top_similiar(ids, values)
    names = replace_ids_with_names(train_data, ids, 3)
elif (validate_data['primaryName'] == actor).any():
    ids, values = similarity_one_vs_all_new(validate_data, actor_data, True)
    ids, values = select_top_similiar(ids, values)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(actor_data[3], names, values)

['Cate Blanchett', 'Elle Fanning', 'Liv Ullmann']

Zapisanie do pliku

In [18]:
file_object = open(RANKINGS, 'a')
text = "{}, Najbardziej podobni: {}\n".format(actor, ranking)
file_object.write(text)
file_object.close()

Zapisanie wniosków, jeśli wyszło coś ciekawego