<a href="https://colab.research.google.com/github/PiotrMaciejKowalski/BigData2022-actors/blob/Testowanie_aktor%C3%B3w/Testy_podobie%C5%84stwa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
!git clone https://github.com/PiotrMaciejKowalski/BigData2022-actors.git
!mv /content/BigData2022-actors/* .
!mv /content/BigData2022-actors/.* .
!rmdir /content/BigData2022-actors/

Cloning into 'BigData2022-actors'...
remote: Enumerating objects: 1983, done.
remote: Counting objects: 100% (604/604), done.
remote: Compressing objects: 100% (226/226), done.
remote: Total 1983 (delta 506), reused 432 (delta 377), pack-reused 1379
Receiving objects: 100% (1983/1983), 6.14 MiB | 29.80 MiB/s, done.
Resolving deltas: 100% (1238/1238), done.
mv: cannot move '/content/BigData2022-actors/.' to './.': Device or resource busy
mv: cannot move '/content/BigData2022-actors/..' to './..': Device or resource busy

In [3]:
import pandas as pd
from lib.similarity_utils import *
from lib.const import TRAIN_DATA, VALIDATE_DATA, SIMILARITY_VALUES, RANKINGS

In [7]:
%%time
train_data = pd.read_parquet(TRAIN_DATA, columns=["nconst", "tconst", "category", "primaryName", "knownForTitles",
                                                  "no_nominations_oscars_norm", "no_nominations_globes_norm",
                                                  "no_nominations_emmy_norm", "no_films_norm",
                                                  "average_films_rating_norm", "genres_code", "types_code"])
validate_data = pd.read_parquet(VALIDATE_DATA, columns=["nconst", "tconst", "category", "primaryName", "knownForTitles",
                                                  "no_nominations_oscars_norm", "no_nominations_globes_norm",
                                                  "no_nominations_emmy_norm", "no_films_norm",
                                                  "average_films_rating_norm", "genres_code", "types_code"])

CPU times: user 31.4 s, sys: 7.78 s, total: 39.2 s
Wall time: 55.9 s

In [ ]:
Dumbledore1 = "nm0001354"

In [ ]:
Dumbledore1_data = find_actor_two_datasets(train_data, validate_data, Dumbledore1)

                                                                       337803
nconst                                                              nm0001354
tconst                      [tt0114117, tt0325703, tt1346961, tt15210882, ...
category                                                                actor
primaryName                                                      Ciarán Hinds
knownForTitles                  [tt1201607, tt1596365, tt1340800, tt12789558]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.009
average_films_rating_norm                                               0.704
genres_code                 [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0]

In [ ]:
Dumbledore2 = "nm0002091"

In [ ]:
Dumbledore2_data = find_actor_two_datasets(train_data, validate_data, Dumbledore2)

                                                                       207959
nconst                                                              nm0002091
tconst                      [tt0375912, tt0530347, tt0639862, tt0706492, t...
category                                                                actor
primaryName                                                    Michael Gambon
knownForTitles                   [tt1504320, tt0097108, tt0280707, tt0417741]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                              0.043
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.016
average_films_rating_norm                                               0.728
genres_code                 [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0]

In [ ]:
similarity_value = similarity_new(Dumbledore1_data, Dumbledore2_data, True)
print("Wartość similarity dla ", Dumbledore1_data[3], " i ", Dumbledore2_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Ciarán Hinds  i  Michael Gambon  wynosi:  0.22323040752351075

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Dumbledore1_data[3], Dumbledore2_data[3], similarity_value)
file_object.write(text)
file_object.close()

Zostali porównani aktorzy, którzy w filmie "Harry Potter" byli braćmi. Similarity wyszło dodatnie

Sprawdźmy co wyjdzie, gdy porównamy aktorów przeciwnych płci, ale grających w tym samym filmie - weźmiemy Emmę Watson oraz Ciarana Hindsa.

In [ ]:
Emma_Watson = "nm0914612"

In [ ]:
Emma_Watson_data = find_actor_two_datasets(train_data, validate_data, Emma_Watson)

                                                                      1242106
nconst                                                              nm0914612
tconst                      [tt1083845, tt3281548, tt0417741, tt1659337, t...
category                                                              actress
primaryName                                                       Emma Watson
knownForTitles                   [tt2132285, tt0241527, tt2771200, tt1659337]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.002
average_films_rating_norm                                               0.702
genres_code                 [1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, ...
types_code                                  [0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0]

In [ ]:
similarity_value2 = similarity_new(Dumbledore2_data, Emma_Watson_data, True)
print("Wartość similarity dla ", Dumbledore2_data[3], " i ", Emma_Watson_data[3], " wynosi: ", similarity_value2)

Wartość similarity dla  Michael Gambon  i  Emma Watson  wynosi:  0.07299110945932852

Wyszła nam ciekawa rzecz. Mianowicie dodatnie podobieństwo mężczyzny 82 letniego oraz 32 letniej kobiety.

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Emma_Watson_data[3], Dumbledore2_data[3], similarity_value2)
file_object.write(text)
file_object.close()

In [ ]:
similarity_value3 = similarity_new(Dumbledore1_data, Emma_Watson_data, True)
print("Wartość similarity dla ", Dumbledore1_data[3], " i ", Emma_Watson_data[3], " wynosi: ", similarity_value3)

Wartość similarity dla  Ciarán Hinds  i  Emma Watson  wynosi:  0.12356802507836995

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Emma_Watson_data[3], Dumbledore1_data[3], similarity_value3)
file_object.write(text)
file_object.close()

Dla aktorów grających Albusa Dumbledore'a i Hermionę Granger wyszło trochę większe. Podejrzewam, że ma to związek z tym, że cała ta trójka generalnie ma podobne wartości kolumn z wyjątkiem Emma[no_nominations_globes_norm] = Albus[to samo] = 0, podczas gdy Aberforth ma tam wartość 0,043. Ratingi mają bardzo podobne w okolicach niskich 7,xx.

Sprawdzimy teraz co się pokaże, kiedy wezmę tę samą płeć, ale różny wiek i różne filmy, w których grały. Np. Emma Watson i Jennifer Aniston.

In [ ]:
Jennifer_Aniston = "nm0000098"

In [ ]:
Jennifer_Aniston_data = find_actor_two_datasets(train_data, validate_data, Jennifer_Aniston)

                                                                       834000
nconst                                                              nm0000098
tconst                      [tt0569285, tt0578935, tt0583456, tt0583435, t...
category                                                              actress
primaryName                                                  Jennifer Aniston
knownForTitles                   [tt1564367, tt3442006, tt0108778, tt1723121]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                              0.174
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.033
average_films_rating_norm                                               0.787
genres_code                 [1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, ...
types_code                                  [1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0]

In [ ]:
similarity_value4 = similarity_new(Jennifer_Aniston_data, Emma_Watson_data, True)
print("Wartość similarity dla ", Jennifer_Aniston_data[3], " i ", Emma_Watson_data[3], " wynosi: ", similarity_value4)

Wartość similarity dla  Jennifer Aniston  i  Emma Watson  wynosi:  0.12886012539184954

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Emma_Watson_data[3], Jennifer_Aniston_data[3], similarity_value4)
file_object.write(text)
file_object.close()

Na koniec weźmiemy aktora z dużą liczbą nominacji do nagród i aktora z samymi zerami na tych polach. Postaramy się znaleźć ujemne podobieństwo, mając podejrzenie, że kolumny z nominacjami mocniej wpływają na wynik.

In [ ]:
Daniel_DayLewis = "nm0000358"

In [ ]:
Daniel_DayLewis_data = find_actor_two_datasets(train_data, validate_data, Daniel_DayLewis)

                                                                       535864
nconst                                                              nm0000358
tconst                      [tt0096166, tt1258341, tt0357110, tt0084097, t...
category                                                                actor
primaryName                                                  Daniel Day-Lewis
knownForTitles                   [tt0443272, tt0469494, tt0217505, tt0104691]
no_nominations_oscars_norm                                              0.114
no_nominations_globes_norm                                              0.348
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.003
average_films_rating_norm                                               0.709
genres_code                 [1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, ...
types_code                                  [1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0]

In [ ]:
Leszek_Zukowski = "nm3191238"

In [ ]:
Leszek_Zukowski_data = find_actor_two_datasets(train_data, validate_data, Leszek_Zukowski)

                                                                      1741413
nconst                                                              nm3191238
tconst                      [tt1645935, tt11530728, tt18256306, tt8265674,...
category                                                                actor
primaryName                                                   Leszek Zukowski
knownForTitles                   [tt1443335, tt0434680, tt0182607, tt0386946]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                             0.0
average_films_rating_norm                                                 0.0
genres_code                 [0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
types_code                                  [1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0]

In [ ]:
similarity_value5 = similarity_new(Daniel_DayLewis_data, Leszek_Zukowski_data, True)
print("Wartość similarity dla ", Daniel_DayLewis_data[3], " i ", Leszek_Zukowski_data[3], " wynosi: ", similarity_value5)

Wartość similarity dla  Daniel Day-Lewis  i  Leszek Zukowski  wynosi:  -0.09566401253918488

Wyszło nam pierwszy raz ujemne podobieństwo.

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Daniel_DayLewis_data[3], Leszek_Zukowski_data[3], similarity_value5)
file_object.write(text)
file_object.close()

#Podobieństwa w aktorów grających Jamesa Bonda

In [ ]:
JamesBond1 = "nm0000125" #Sean Connery

In [ ]:
JamesBond1_data = find_actor_two_datasets(train_data, validate_data, JamesBond1)

                                                                       972939
nconst                                                              nm0000125
tconst                      [tt0086006, tt0063592, tt0066767, tt0066995, t...
category                                                                actor
primaryName                                                      Sean Connery
knownForTitles                   [tt0117500, tt0059800, tt0055928, tt0094226]
no_nominations_oscars_norm                                              0.023
no_nominations_globes_norm                                              0.174
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.008
average_films_rating_norm                                               0.665
genres_code                 [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, ...
types_code                                  [1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0]

In [ ]:
if JamesBond1 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, JamesBond1_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif JamesBond1 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, JamesBond1_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(JamesBond1_data[3], names, values)

Najbardziej podobnymi do Sean Connery aktorami/aktorkami są w kolejności:
  - Bob Hope z similarity równym: 0.286
  - Jeff Bridges z similarity równym: 0.272
  - Bing Crosby z similarity równym: 0.259

In [ ]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(JamesBond1[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [ ]:
JamesBond2 = "nm0493872" #George Lazebny

In [ ]:
JamesBond2_data = find_actor_two_datasets(train_data, validate_data, JamesBond2)

                                                                        10576
nconst                                                              nm0493872
tconst                      [tt12471922, tt9222588, tt0076257, tt0104184, ...
category                                                                actor
primaryName                                                    George Lazenby
knownForTitles                   [tt0107007, tt0064757, tt0308937, tt0073343]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                              0.043
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.004
average_films_rating_norm                                               0.597
genres_code                 [1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, ...
types_code                                  [0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0]

In [ ]:
if JamesBond2 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, JamesBond2_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif JamesBond2 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, JamesBond2_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(JamesBond2_data[3], names, values)

Najbardziej podobnymi do George Lazenby aktorami/aktorkami są w kolejności:
  - Royce D. Applegate z similarity równym: 0.275
  - Seth Adkins z similarity równym: 0.252
  - Toralv Maurstad z similarity równym: 0.252

In [ ]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(JamesBond2[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [ ]:
similarity_value = similarity_new(JamesBond2_data, JamesBond1_data, True)
print("Wartość similarity dla ", JamesBond2_data[3], " i ", JamesBond1_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  George Lazenby  i  Sean Connery  wynosi:  0.09581905956112857

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond2_data[3], JamesBond1_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [ ]:
JamesBond3 = "nm0000549" #Roger Moore

In [ ]:
JamesBond3_data = find_actor_two_datasets(train_data, validate_data, JamesBond3)

                                                                       744755
nconst                                                              nm0000549
tconst                      [tt0051286, tt0066521, tt0070328, tt0438032, t...
category                                                                actor
primaryName                                                       Roger Moore
knownForTitles                   [tt0079574, tt0070328, tt0082398, tt0076752]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                              0.043
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                            0.03
average_films_rating_norm                                               0.709
genres_code                 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0]

In [ ]:
if JamesBond3 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, JamesBond3_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif JamesBond3 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, JamesBond3_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(JamesBond3_data[3], names, values)

Najbardziej podobnymi do Roger Moore aktorami/aktorkami są w kolejności:
  - Geoffrey Keen z similarity równym: 0.3
  - William Shatner z similarity równym: 0.293
  - Hulk Hogan z similarity równym: 0.278

In [ ]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(JamesBond3[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [ ]:
similarity_value = similarity_new(JamesBond3_data, JamesBond1_data, True)
print("Wartość similarity dla ", JamesBond3_data[3], " i ", JamesBond1_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Roger Moore  i  Sean Connery  wynosi:  0.22469830721003126

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond3_data[3], JamesBond1_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [ ]:
similarity_value = similarity_new(JamesBond3_data, JamesBond2_data, True)
print("Wartość similarity dla ", JamesBond3_data[3], " i ", JamesBond2_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Roger Moore  i  George Lazenby  wynosi:  0.10244564263322875

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond3_data[3], JamesBond2_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [ ]:
JamesBond4 = "nm0001096"

In [ ]:
JamesBond4_data = find_actor_two_datasets(train_data, validate_data, JamesBond4)

                                                                      1587567
nconst                                                              nm0001096
tconst                      [tt0073530, tt0195165, tt11986814, tt1250466, ...
category                                                                actor
primaryName                                                    Timothy Dalton
knownForTitles                   [tt0097742, tt0425112, tt0080745, tt0093428]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                            0.01
average_films_rating_norm                                               0.744
genres_code                 [1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0]

In [ ]:
if JamesBond4 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, JamesBond4_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif JamesBond4 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, JamesBond4_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(JamesBond4_data[3], names, values)

Najbardziej podobnymi do Timothy Dalton aktorami/aktorkami są w kolejności:
  - Christopher Neame z similarity równym: 0.332
  - Nadim Sawalha z similarity równym: 0.328
  - Rory Kinnear z similarity równym: 0.319

In [ ]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(JamesBond4[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [ ]:
similarity_value = similarity_new(JamesBond4_data, JamesBond1_data, True)
print("Wartość similarity dla ", JamesBond4_data[3], " i ", JamesBond1_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Timothy Dalton  i  Sean Connery  wynosi:  0.10496564263322883

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond4_data[3], JamesBond1_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [ ]:
similarity_value = similarity_new(JamesBond4_data, JamesBond2_data, True)
print("Wartość similarity dla ", JamesBond4_data[3], " i ", JamesBond2_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Timothy Dalton  i  George Lazenby  wynosi:  0.15387285266457673

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond4_data[3], JamesBond2_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [ ]:
similarity_value = similarity_new(JamesBond4_data, JamesBond3_data, True)
print("Wartość similarity dla ", JamesBond4_data[3], " i ", JamesBond3_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Timothy Dalton  i  Roger Moore  wynosi:  0.1485983699059561

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond4_data[3], JamesBond3_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [ ]:
JamesBond5 = "nm0000112"

In [ ]:
JamesBond5_data = find_actor_two_datasets(train_data, validate_data, JamesBond5)

                                                                       466834
nconst                                                              nm0000112
tconst                      [tt0120347, tt0128239, tt0684830, tt0684869, t...
category                                                                actor
primaryName                                                    Pierce Brosnan
knownForTitles                   [tt0155267, tt0120347, tt0143145, tt0795421]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                              0.087
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                            0.02
average_films_rating_norm                                               0.714
genres_code                 [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0]

In [ ]:
if JamesBond5 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, JamesBond5_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif JamesBond5 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, JamesBond5_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(JamesBond5_data[3], names, values)

In [ ]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(JamesBond5[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [ ]:
similarity_value = similarity_new(JamesBond5_data, JamesBond1_data, True)
print("Wartość similarity dla ", JamesBond5_data[3], " i ", JamesBond1_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Pierce Brosnan  i  Sean Connery  wynosi:  0.17389285266457688

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond5_data[3], JamesBond1_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [ ]:
similarity_value = similarity_new(JamesBond5_data, JamesBond2_data, True)
print("Wartość similarity dla ", JamesBond5_data[3], " i ", JamesBond2_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Pierce Brosnan  i  George Lazenby  wynosi:  0.12159529780564249

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond5_data[3], JamesBond2_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [ ]:
similarity_value = similarity_new(JamesBond5_data, JamesBond3_data, True)
print("Wartość similarity dla ", JamesBond5_data[3], " i ", JamesBond3_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Pierce Brosnan  i  Roger Moore  wynosi:  0.2170455799373041

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond5_data[3], JamesBond3_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [ ]:
similarity_value = similarity_new(JamesBond5_data, JamesBond4_data, True)
print("Wartość similarity dla ", JamesBond5_data[3], " i ", JamesBond4_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Pierce Brosnan  i  Timothy Dalton  wynosi:  0.2662727899686521

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond5_data[3], JamesBond4_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [ ]:
JamesBond6 = "nm0185819"

In [ ]:
JamesBond6_data = find_actor_two_datasets(train_data, validate_data, JamesBond6)

                                                                      1756395
nconst                                                              nm0185819
tconst                      [tt0161010, tt0366627, tt0375912, tt0386741, t...
category                                                                actor
primaryName                                                      Daniel Craig
knownForTitles                   [tt2382320, tt1074638, tt0381061, tt2379713]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                              0.043
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.007
average_films_rating_norm                                                0.68
genres_code                 [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0]

In [ ]:
if JamesBond6 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, JamesBond6_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif JamesBond6 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, JamesBond6_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(JamesBond6_data[3], names, values)

Najbardziej podobnymi do Daniel Craig aktorami/aktorkami są w kolejności:
  - Sam Elliott z similarity równym: 0.306
  - Michael York z similarity równym: 0.304
  - Dan Aykroyd z similarity równym: 0.303

In [ ]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(JamesBond6[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [ ]:
similarity_value = similarity_new(JamesBond6_data, JamesBond1_data, True)
print("Wartość similarity dla ", JamesBond6_data[3], " i ", JamesBond1_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Daniel Craig  i  Sean Connery  wynosi:  0.21000557993730418

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond6_data[3], JamesBond1_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [ ]:
similarity_value = similarity_new(JamesBond6_data, JamesBond2_data, True)
print("Wartość similarity dla ", JamesBond6_data[3], " i ", JamesBond2_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Daniel Craig  i  George Lazenby  wynosi:  0.10892257053291532

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond6_data[3], JamesBond2_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [ ]:
similarity_value = similarity_new(JamesBond6_data, JamesBond3_data, True)
print("Wartość similarity dla ", JamesBond6_data[3], " i ", JamesBond3_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Daniel Craig  i  Roger Moore  wynosi:  0.2592955190575079

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond6_data[3], JamesBond3_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [ ]:
similarity_value = similarity_new(JamesBond6_data, JamesBond4_data, True)
print("Wartość similarity dla ", JamesBond6_data[3], " i ", JamesBond4_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Daniel Craig  i  Timothy Dalton  wynosi:  0.21379040752351086

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond6_data[3], JamesBond4_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [ ]:
similarity_value = similarity_new(JamesBond6_data, JamesBond5_data, True)
print("Wartość similarity dla ", JamesBond6_data[3], " i ", JamesBond5_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Daniel Craig  i  Pierce Brosnan  wynosi:  0.2567479623824451

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond6_data[3], JamesBond5_data[3], similarity_value)
file_object.write(text)
file_object.close()

#Dubbing tych samych postaci

In [ ]:
Donkey1 = "nm0000552"

In [ ]:
Donkey1_data = find_actor_two_datasets(train_data, validate_data, Donkey1)

                                                                      1042369
nconst                                                              nm0000552
tconst                      [tt0842425, tt0873257, tt0360985, tt0477051, t...
category                                                                actor
primaryName                                                      Eddie Murphy
knownForTitles                   [tt0094898, tt0117218, tt0126029, tt0443489]
no_nominations_oscars_norm                                              0.023
no_nominations_globes_norm                                              0.261
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.008
average_films_rating_norm                                               0.648
genres_code                 [1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, ...
types_code                                  [1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0]

In [ ]:
if Donkey1 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Donkey1_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Donkey1 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Donkey1_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Donkey1_data[3], names, values)

Najbardziej podobnymi do Eddie Murphy aktorami/aktorkami są w kolejności:
  - Nacho Vigalondo z similarity równym: 0.248
  - Kit DeZolt z similarity równym: 0.247
  - P.J. Brown z similarity równym: 0.242

In [ ]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Donkey1[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [ ]:
Donkey2 = "nm0836136"

In [ ]:
Donkey2_data = find_actor_two_datasets(train_data, validate_data, Donkey2)

                                                                      1410031
nconst                                                              nm0836136
tconst                      [tt0091096, tt0250103, tt0380636, tt0209445, t...
category                                                                actor
primaryName                                                       Jerzy Stuhr
knownForTitles                   [tt0246593, tt0209445, tt0078763, tt0123889]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.005
average_films_rating_norm                                               0.667
genres_code                 [1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0]

In [ ]:
if Donkey2 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Donkey2_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Donkey2 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Donkey2_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Donkey2_data[3], names, values)

Najbardziej podobnymi do Jerzy Stuhr aktorami/aktorkami są w kolejności:
  - Leslie Carlson z similarity równym: 0.324
  - R. Keith Harris z similarity równym: 0.32
  - Peter MacNicol z similarity równym: 0.32

In [ ]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Donkey2[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [ ]:
similarity_value = similarity_new(Donkey2_data, Donkey1_data, True)
print("Wartość similarity dla ", Donkey2_data[3], " i ", Donkey1_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Jerzy Stuhr  i  Eddie Murphy  wynosi:  0.17999592476489035

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Donkey2_data[3], Donkey1_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [ ]:
Mufasa1 = "nm0000469"

In [ ]:
Mufasa1_data = find_actor_two_datasets(train_data, validate_data, Mufasa1)

                                                                      1131662
nconst                                                              nm0000469
tconst                      [tt0082212, tt0092534, tt0104215, tt0110357, t...
category                                                                actor
primaryName                                                  James Earl Jones
knownForTitles                   [tt0094898, tt0099810, tt3748528, tt6105098]
no_nominations_oscars_norm                                              0.023
no_nominations_globes_norm                                              0.217
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.019
average_films_rating_norm                                               0.681
genres_code                 [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0]

In [ ]:
if Mufasa1 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Mufasa1_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Mufasa1 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Mufasa1_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Mufasa1_data[3], names, values)

Najbardziej podobnymi do James Earl Jones aktorami/aktorkami są w kolejności:
  - Jimmy Smits z similarity równym: 0.302
  - Alec Baldwin z similarity równym: 0.302
  - Ed Harris z similarity równym: 0.299

In [ ]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Mufasa1[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [ ]:
Mufasa2 = "nm0953975"

In [ ]:
Mufasa2_data = find_actor_two_datasets(train_data, validate_data, Mufasa2)

                                                                       259073
nconst                                                              nm0953975
tconst                      [tt0551824, tt0965545, tt10395818, tt14330772,...
category                                                                actor
primaryName                                                  Wiktor Zborowski
knownForTitles                   [tt0102242, tt0343292, tt0173562, tt0128378]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.004
average_films_rating_norm                                                0.58
genres_code                 [1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0]

In [ ]:
if Mufasa2 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Mufasa2_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Mufasa2 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Mufasa2_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Mufasa2_data[3], names, values)

Najbardziej podobnymi do Wiktor Zborowski aktorami/aktorkami są w kolejności:
  - Ryszard Jablonski z similarity równym: 0.292
  - Maciej Stuhr z similarity równym: 0.289
  - Gustaw Lutkiewicz z similarity równym: 0.284

In [ ]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Mufasa2[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [ ]:
similarity_value = similarity_new(Mufasa2_data, Mufasa1_data, True)
print("Wartość similarity dla ", Mufasa2_data[3], " i ", Mufasa1_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Wiktor Zborowski  i  James Earl Jones  wynosi:  0.10012871473354235

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Mufasa2_data[3], Mufasa1_data[3], similarity_value)
file_object.write(text)
file_object.close()

#Znani z filmów walki

In [14]:
Bruce_Lee = "nm0000045"

In [15]:
Bruce_Lee_data = find_actor_two_datasets(train_data, validate_data, Bruce_Lee)

                                                                      1746144
nconst                                                              nm0000045
tconst                      [tt0066681, tt0193289, tt0592818, tt0592819, t...
category                                                                actor
primaryName                                                         Bruce Lee
knownForTitles                   [tt0070034, tt0068767, tt0067824, tt0068935]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.004
average_films_rating_norm                                               0.723
genres_code                 [1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...
types_code                                  [1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0]

In [ ]:
if Bruce_Lee in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Bruce_Lee_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Bruce_Lee in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Bruce_Lee_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Bruce_Lee_data[3], names, values)

Najbardziej podobnymi do Bruce Lee aktorami/aktorkami są w kolejności:
  - Wende Wagner z similarity równym: 0.437
  - Lloyd Gough z similarity równym: 0.369
  - Nora Miao z similarity równym: 0.355

In [ ]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Bruce_Lee[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [12]:
Chuck_Norris = "nm0001569"

In [13]:
Chuck_Norris_data = find_actor_two_datasets(train_data, validate_data, Chuck_Norris)

                                                                      1161115
nconst                                                              nm0001569
tconst                      [tt0082350, tt0743439, tt0743456, tt0743468, t...
category                                                                actor
primaryName                                                      Chuck Norris
knownForTitles                   [tt0068935, tt0089348, tt1764651, tt0106168]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.022
average_films_rating_norm                                               0.698
genres_code                 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, ...
types_code                                  [1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0]

In [ ]:
if Chuck_Norris in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Chuck_Norris_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Chuck_Norris in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Chuck_Norris_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Chuck_Norris_data[3], names, values)

Najbardziej podobnymi do Chuck Norris aktorami/aktorkami są w kolejności:
  - Sheree J. Wilson z similarity równym: 0.446
  - Noble Willingham z similarity równym: 0.442
  - Clarence Gilyard Jr. z similarity równym: 0.434

In [ ]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Chuck_Norris[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [ ]:
similarity_value = similarity_new(Chuck_Norris_data, Bruce_Lee_data, True)
print("Wartość similarity dla ", Chuck_Norris_data[3], " i ",Bruce_Lee_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Chuck Norris  i  Bruce Lee  wynosi:  0.1928297984773848

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Chuck_Norris_data[3], Bruce_Lee_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [5]:
Steven_Seagal = "nm0000219"

In [8]:
Steven_Seagal_data = find_actor_two_datasets(train_data, validate_data, Steven_Seagal)

                                                                      1865382
nconst                                                              nm0000219
tconst                      [tt0119123, tt0493424, tt1227177, tt3503840, t...
category                                                                actor
primaryName                                                     Steven Seagal
knownForTitles                   [tt0105690, tt0242445, tt0110725, tt0094602]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.007
average_films_rating_norm                                               0.468
genres_code                 [1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...
types_code                                  [1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0]

In [9]:
if Steven_Seagal in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Steven_Seagal_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Steven_Seagal in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Steven_Seagal_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Steven_Seagal_data[3], names, values)

Najbardziej podobnymi do Steven Seagal aktorami/aktorkami są w kolejności:
  - Al Galvez z similarity równym: 0.304
  - Andrew Bryniarski z similarity równym: 0.3
  - Ryan Bijan z similarity równym: 0.295

In [10]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Steven_Seagal[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [16]:
similarity_value = similarity_new(Steven_Seagal_data, Bruce_Lee_data, True)
print("Wartość similarity dla ", Steven_Seagal_data[3], " i ",Bruce_Lee_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Steven Seagal  i  Bruce Lee  wynosi:  0.1356759247648902

In [17]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Steven_Seagal_data[3], Bruce_Lee_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [18]:
similarity_value = similarity_new(Steven_Seagal_data, Chuck_Norris_data, True)
print("Wartość similarity dla ", Steven_Seagal_data[3], " i ",Chuck_Norris_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Steven Seagal  i  Chuck Norris  wynosi:  0.10167836990595602

In [19]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Steven_Seagal_data[3], Chuck_Norris_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [21]:
Van_Damme = "nm0000241"

In [22]:
Van_Damme_data = find_actor_two_datasets(train_data, validate_data, Van_Damme)

                                                                      1686546
nconst                                                              nm0000241
tconst                      [tt0097659, tt1975249, tt0764643, tt0119013, t...
category                                                                actor
primaryName                                             Jean-Claude Van Damme
knownForTitles                   [tt0101764, tt0097659, tt1130988, tt0119013]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.006
average_films_rating_norm                                                0.58
genres_code                 [1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, ...
types_code                                  [0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0]

In [23]:
if Van_Damme in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Van_Damme_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Van_Damme in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Van_Damme_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Van_Damme_data[3], names, values)

Najbardziej podobnymi do Jean-Claude Van Damme aktorami/aktorkami są w kolejności:
  - Emile Hirsch z similarity równym: 0.299
  - Ryan McCluskey z similarity równym: 0.275
  - Raul Julia z similarity równym: 0.274

In [24]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Van_Damme[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [25]:
similarity_value = similarity_new(Van_Damme_data, Bruce_Lee_data, True)
print("Wartość similarity dla ", Van_Damme_data[3], " i ",Bruce_Lee_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Jean-Claude Van Damme  i  Bruce Lee  wynosi:  0.014565705329153689

In [26]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Van_Damme_data[3], Bruce_Lee_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [31]:
similarity_value = similarity_new(Van_Damme_data, Chuck_Norris_data, True)
print("Wartość similarity dla ", Van_Damme_data[3], " i ",Chuck_Norris_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Jean-Claude Van Damme  i  Chuck Norris  wynosi:  0.07601291536050159

In [32]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Van_Damme_data[3], Chuck_Norris_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [33]:
similarity_value = similarity_new(Van_Damme_data, Steven_Seagal_data, True)
print("Wartość similarity dla ", Van_Damme_data[3], " i ",Steven_Seagal_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Jean-Claude Van Damme  i  Steven Seagal  wynosi:  0.11879047021943556

In [34]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Van_Damme_data[3], Steven_Seagal_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [35]:
Jackie_Chan = "nm0000329"

In [36]:
Jackie_Chan_data = find_actor_two_datasets(train_data, validate_data, Jackie_Chan)

                                                                      1766015
nconst                                                              nm0000329
tconst                      [tt0081499, tt0114126, tt0120812, tt21692408, ...
category                                                                actor
primaryName                                                       Jackie Chan
knownForTitles                   [tt0266915, tt0127357, tt0120812, tt0089374]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.009
average_films_rating_norm                                               0.612
genres_code                 [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, ...
types_code                                  [1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0]

In [37]:
if Jackie_Chan in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Jackie_Chan_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Jackie_Chan in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Jackie_Chan_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Jackie_Chan_data[3], names, values)

Najbardziej podobnymi do Jackie Chan aktorami/aktorkami są w kolejności:
  - Henry Rollins z similarity równym: 0.263
  - Michael Daniel Cassady z similarity równym: 0.262
  - Ice Cube z similarity równym: 0.256

In [38]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Jackie_Chan[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [39]:
similarity_value = similarity_new(Jackie_Chan_data, Bruce_Lee_data, True)
print("Wartość similarity dla ", Jackie_Chan_data[3], " i ",Bruce_Lee_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Jackie Chan  i  Bruce Lee  wynosi:  0.0974008150470218

In [40]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Jackie_Chan_data[3], Bruce_Lee_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [42]:
similarity_value = similarity_new(Jackie_Chan_data, Chuck_Norris_data, True)
print("Wartość similarity dla ", Jackie_Chan_data[3], " i ",Chuck_Norris_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Jackie Chan  i  Chuck Norris  wynosi:  0.1395983699059562

In [43]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Jackie_Chan_data[3], Chuck_Norris_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [44]:
similarity_value = similarity_new(Jackie_Chan_data, Steven_Seagal_data, True)
print("Wartość similarity dla ", Jackie_Chan_data[3], " i ",Steven_Seagal_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Jackie Chan  i  Steven Seagal  wynosi:  0.16477592476489034

In [45]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Jackie_Chan_data[3], Steven_Seagal_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [46]:
similarity_value = similarity_new(Jackie_Chan_data, Van_Damme_data, True)
print("Wartość similarity dla ", Jackie_Chan_data[3], " i ",Van_Damme_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Jackie Chan  i  Jean-Claude Van Damme  wynosi:  0.13911047021943568

In [47]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Jackie_Chan_data[3], Van_Damme_data[3], similarity_value)
file_object.write(text)
file_object.close()

#Jak to wygląda u kinowych twardzieli?

In [48]:
Stallone = "nm0000230"

In [49]:
Stallone_data = find_actor_two_datasets(train_data, validate_data, Stallone)

                                                                      1865383
nconst                                                              nm0000230
tconst                      [tt0083284, tt0132245, tt0160184, tt1308729, t...
category                                                                actor
primaryName                                                Sylvester Stallone
knownForTitles                   [tt0089927, tt3076658, tt0084602, tt0075148]
no_nominations_oscars_norm                                              0.068
no_nominations_globes_norm                                               0.13
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.008
average_films_rating_norm                                               0.646
genres_code                 [1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, ...
types_code                                  [1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0]

In [50]:
if Stallone in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Stallone_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Stallone in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Stallone_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Stallone_data[3], names, values)

Najbardziej podobnymi do Sylvester Stallone aktorami/aktorkami są w kolejności:
  - Michael B. Jordan z similarity równym: 0.26
  - Adam Behr z similarity równym: 0.25
  - Bruce Willis z similarity równym: 0.246

In [51]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Stallone[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [55]:
Bruce_Willis = "nm0000246"

In [56]:
Bruce_Willis_data = find_actor_two_datasets(train_data, validate_data, Bruce_Willis)

                                                                       257799
nconst                                                              nm0000246
tconst                      [tt0096193, tt0251114, tt0314353, tt0401792, t...
category                                                                actor
primaryName                                                      Bruce Willis
knownForTitles                   [tt0095016, tt0110912, tt0088571, tt0167404]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                              0.174
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                            0.02
average_films_rating_norm                                               0.625
genres_code                 [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, ...
types_code                                  [1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0]

In [57]:
if Bruce_Willis in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Bruce_Willis_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Bruce_Willis in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Bruce_Willis_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Bruce_Willis_data[3], names, values)

Najbardziej podobnymi do Bruce Willis aktorami/aktorkami są w kolejności:
  - Ving Rhames z similarity równym: 0.326
  - Richard Roundtree z similarity równym: 0.318
  - Jack Carter z similarity równym: 0.294

In [58]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Bruce_Willis[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [59]:
similarity_value = similarity_new(Bruce_Willis_data, Stallone_data, True)
print("Wartość similarity dla ", Bruce_Willis_data[3], " i ",Stallone_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Bruce Willis  i  Sylvester Stallone  wynosi:  0.2459431347962382

In [60]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Bruce_Willis_data[3], Stallone_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [61]:
Schwarzenegger = "nm0000216"

In [62]:
Schwarzenegger_data = find_actor_two_datasets(train_data, validate_data, Schwarzenegger)

                                                                      1617324
nconst                                                              nm0000216
tconst                      [tt0233469, tt0364056, tt0711516, tt15739442, ...
category                                                                actor
primaryName                                             Arnold Schwarzenegger
knownForTitles                   [tt0216216, tt0088247, tt0103064, tt0107362]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                              0.087
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.009
average_films_rating_norm                                               0.671
genres_code                 [1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0]

In [63]:
if Schwarzenegger in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Schwarzenegger_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Schwarzenegger in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Schwarzenegger_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Schwarzenegger_data[3], names, values)

Najbardziej podobnymi do Arnold Schwarzenegger aktorami/aktorkami są w kolejności:
  - Robert Patrick z similarity równym: 0.353
  - Joe Pantoliano z similarity równym: 0.322
  - Charles Dance z similarity równym: 0.317

In [64]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Schwarzenegger[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [65]:
similarity_value = similarity_new(Schwarzenegger_data, Stallone_data, True)
print("Wartość similarity dla ", Schwarzenegger_data[3], " i ",Stallone_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Arnold Schwarzenegger  i  Sylvester Stallone  wynosi:  0.1914123268812924

In [66]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Schwarzenegger_data[3], Stallone_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [67]:
similarity_value = similarity_new(Schwarzenegger_data, Bruce_Willis_data, True)
print("Wartość similarity dla ", Schwarzenegger_data[3], " i ",Bruce_Willis_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Arnold Schwarzenegger  i  Bruce Willis  wynosi:  0.24118313479623832

In [68]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Schwarzenegger_data[3], Bruce_Willis_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [69]:
Mel_Gibson = "nm0000154"

In [70]:
Mel_Gibson_data = find_actor_two_datasets(train_data, validate_data, Mel_Gibson)

                                                                      1656781
nconst                                                              nm0000154
tconst                      [tt1321860, tt5657846, tt0087751, tt0104291, t...
category                                                                actor
primaryName                                                        Mel Gibson
knownForTitles                   [tt0118883, tt0117438, tt0112573, tt0104714]
no_nominations_oscars_norm                                              0.045
no_nominations_globes_norm                                              0.174
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.007
average_films_rating_norm                                               0.638
genres_code                 [1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0]

In [71]:
if Mel_Gibson in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Mel_Gibson_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Mel_Gibson in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Mel_Gibson_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Mel_Gibson_data[3], names, values)

Najbardziej podobnymi do Mel Gibson aktorami/aktorkami są w kolejności:
  - Armen Dzhigarkhanyan z similarity równym: 0.291
  - Angus Macfadyen z similarity równym: 0.286
  - David Fox z similarity równym: 0.284

In [72]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Mel_Gibson[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [73]:
similarity_value = similarity_new(Mel_Gibson_data, Stallone_data, True)
print("Wartość similarity dla ", Mel_Gibson_data[3], " i ",Stallone_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Mel Gibson  i  Sylvester Stallone  wynosi:  0.15215529780564263

In [74]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Mel_Gibson_data[3], Stallone_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [75]:
similarity_value = similarity_new(Mel_Gibson_data, Bruce_Willis_data, True)
print("Wartość similarity dla ", Mel_Gibson_data[3], " i ",Bruce_Willis_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Mel Gibson  i  Bruce Willis  wynosi:  0.1869128526645767

In [76]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Mel_Gibson_data[3], Bruce_Willis_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [77]:
similarity_value = similarity_new(Mel_Gibson_data, Schwarzenegger_data, True)
print("Wartość similarity dla ", Mel_Gibson_data[3], " i ",Schwarzenegger_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Mel Gibson  i  Arnold Schwarzenegger  wynosi:  0.1960607523510971

In [78]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Mel_Gibson_data[3], Schwarzenegger_data[3], similarity_value)
file_object.write(text)
file_object.close()

#Spróbójmy sprawdzić aktorów którzy wydają nam się bardzo rózni od siebie

In [79]:
Rowan_Atkinson = "nm0000100"

In [80]:
Rowan_Atkinson_data = find_actor_two_datasets(train_data, validate_data, Rowan_Atkinson)

                                                                        19755
nconst                                                              nm0000100
tconst                      [tt0211388, tt0651849, tt0717561, tt0720766, t...
category                                                                actor
primaryName                                                    Rowan Atkinson
knownForTitles                   [tt1634122, tt0274166, tt0118689, tt0110357]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.029
average_films_rating_norm                                               0.733
genres_code                 [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, ...
types_code                                  [1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0]

In [81]:
if Rowan_Atkinson in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Rowan_Atkinson_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Rowan_Atkinson in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Rowan_Atkinson_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Rowan_Atkinson_data[3], names, values)

Najbardziej podobnymi do Rowan Atkinson aktorami/aktorkami są w kolejności:
  - Hank Azaria z similarity równym: 0.284
  - Alexander Armstrong z similarity równym: 0.275
  - Chris Parnell z similarity równym: 0.269

In [82]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Rowan_Atkinson[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [83]:
similarity_value = similarity_new(Rowan_Atkinson_data, Stallone_data, True)
print("Wartość similarity dla ", Rowan_Atkinson_data[3], " i ",Stallone_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Rowan Atkinson  i  Sylvester Stallone  wynosi:  0.16691768025078368

In [84]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Rowan_Atkinson_data[3], Stallone_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [85]:
Karolak = "nm0439878"

In [86]:
Karolak_data = find_actor_two_datasets(train_data, validate_data, Karolak)

                                                                      1697128
nconst                                                              nm0439878
tconst                      [tt0919717, tt0960079, tt0963452, tt0965545, t...
category                                                                actor
primaryName                                                    Tomasz Karolak
knownForTitles                   [tt0466515, tt1291634, tt1194263, tt1199743]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.052
average_films_rating_norm                                               0.505
genres_code                 [1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
types_code                                  [1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0]

In [87]:
if Karolak in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Karolak_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Karolak in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Karolak_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Karolak_data[3], names, values)

Najbardziej podobnymi do Tomasz Karolak aktorami/aktorkami są w kolejności:
  - Jacek Braciak z similarity równym: 0.333
  - Kostas Halkias z similarity równym: 0.299
  - Athinodoros Prousalis z similarity równym: 0.298

In [88]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Karolak[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

Wartość similarity dla  4  i  Arnold Schwarzenegger  wynosi:  0.08192695924764881

In [99]:
similarity_value = similarity_new(Karolak_data, Schwarzenegger_data, True)
print("Wartość similarity dla ", Karolak_data[3], " i ",Schwarzenegger_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Tomasz Karolak  i  Arnold Schwarzenegger  wynosi:  0.08192695924764881

In [89]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Karolak_data[3], Schwarzenegger_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [96]:
Bartosz_Zukowski = "nm0958546"

In [97]:
Bartosz_Zukowski_data = find_actor_two_datasets(train_data, validate_data, Bartosz_Zukowski)

                                                                       130211
nconst                                                              nm0958546
tconst                      [tt1068541, tt1072694, tt10822596, tt10822650,...
category                                                                actor
primaryName                                                  Bartosz Zukowski
knownForTitles                   [tt0117198, tt0117808, tt1091981, tt1485698]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.048
average_films_rating_norm                                               0.697
genres_code                 [1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
types_code                                  [1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0]

In [98]:
if Bartosz_Zukowski in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Bartosz_Zukowski_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Bartosz_Zukowski in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Bartosz_Zukowski_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Bartosz_Zukowski_data[3], names, values)

Najbardziej podobnymi do Bartosz Zukowski aktorami/aktorkami są w kolejności:
  - Marzena Kipiel-Sztuka z similarity równym: 0.609
  - Barbara Mularczyk z similarity równym: 0.561
  - Andrzej Grabowski z similarity równym: 0.394

In [ ]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Bartosz_Zukowski[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [101]:
similarity_value = similarity_new(Bartosz_Zukowski_data, Schwarzenegger_data, True)
print("Wartość similarity dla ", Bartosz_Zukowski_data[3], " i ",Schwarzenegger_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  9  i  Arnold Schwarzenegger  wynosi:  0.016779122257053247

In [102]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Bartosz_Zukowski_data[3], Schwarzenegger_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [104]:
Whoopi_Goldberg = "nm0000155"

In [105]:
Whoopi_Goldberg_data = find_actor_two_datasets(train_data, validate_data, Whoopi_Goldberg)

                                                                       397376
nconst                                                              nm0000155
tconst                      [tt0088939, tt0110357, tt0747901, tt0747908, t...
category                                                              actress
primaryName                                                   Whoopi Goldberg
knownForTitles                   [tt0108147, tt0088939, tt0099653, tt0105417]
no_nominations_oscars_norm                                              0.045
no_nominations_globes_norm                                               0.13
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.019
average_films_rating_norm                                               0.676
genres_code                 [1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, ...
types_code                                  [1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0]

In [106]:
if Whoopi_Goldberg in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Whoopi_Goldberg_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Whoopi_Goldberg in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Whoopi_Goldberg_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Whoopi_Goldberg_data[3], names, values)

Najbardziej podobnymi do Whoopi Goldberg aktorami/aktorkami są w kolejności:
  - Kathy Najimy z similarity równym: 0.31
  - Elizabeth Ashley z similarity równym: 0.309
  - Vanessa Williams z similarity równym: 0.299

In [107]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Whoopi_Goldberg[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [108]:
similarity_value = similarity_new(Whoopi_Goldberg_data, Bartosz_Zukowski_data, True)
print("Wartość similarity dla ", Whoopi_Goldberg_data[3], " i ",Bartosz_Zukowski_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Whoopi Goldberg  i  Bartosz Zukowski  wynosi:  -0.05514570532915353