<a href="https://colab.research.google.com/github/PiotrMaciejKowalski/BigData2022-actors/blob/Testowanie_aktor%C3%B3w/Testy_podobie%C5%84stwa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
!git clone https://github.com/PiotrMaciejKowalski/BigData2022-actors.git
!mv /content/BigData2022-actors/* .
!mv /content/BigData2022-actors/.* .
!rmdir /content/BigData2022-actors/

Cloning into 'BigData2022-actors'...
remote: Enumerating objects: 1971, done.
remote: Counting objects: 100% (584/584), done.
remote: Compressing objects: 100% (213/213), done.
remote: Total 1971 (delta 492), reused 425 (delta 370), pack-reused 1387
Receiving objects: 100% (1971/1971), 6.12 MiB | 13.63 MiB/s, done.
Resolving deltas: 100% (1230/1230), done.
mv: cannot move '/content/BigData2022-actors/.' to './.': Device or resource busy
mv: cannot move '/content/BigData2022-actors/..' to './..': Device or resource busy

In [ ]:
!git checkout Testowanie_aktorów

Branch 'Testowanie_aktorów' set up to track remote branch 'Testowanie_aktorów' from 'origin'.
Switched to a new branch 'Testowanie_aktorów'

In [ ]:
import pandas as pd
from lib.similarity_utils import *
from lib.const import TRAIN_DATA, VALIDATE_DATA, SIMILARITY_VALUES, RANKINGS

In [ ]:
%%time
train_data = pd.read_parquet(TRAIN_DATA, columns=["nconst", "tconst", "category", "primaryName", "knownForTitles",
                                                  "no_nominations_oscars_norm", "no_nominations_globes_norm",
                                                  "no_nominations_emmy_norm", "no_films_norm",
                                                  "average_films_rating_norm", "genres_code", "types_code"])
validate_data = pd.read_parquet(VALIDATE_DATA, columns=["nconst", "tconst", "category", "primaryName", "knownForTitles",
                                                  "no_nominations_oscars_norm", "no_nominations_globes_norm",
                                                  "no_nominations_emmy_norm", "no_films_norm",
                                                  "average_films_rating_norm", "genres_code", "types_code"])

CPU times: user 29.5 s, sys: 7.38 s, total: 36.9 s
Wall time: 52.7 s

In [ ]:
Dumbledore1 = "nm0001354"

In [ ]:
Dumbledore1_data = find_actor_two_datasets(train_data, validate_data, Dumbledore1)

                                                                       337803
nconst                                                              nm0001354
tconst                      [tt0114117, tt0325703, tt1346961, tt15210882, ...
category                                                                actor
primaryName                                                      Ciarán Hinds
knownForTitles                  [tt1201607, tt1596365, tt1340800, tt12789558]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.009
average_films_rating_norm                                               0.704
genres_code                 [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0]

In [ ]:
Dumbledore2 = "nm0002091"

In [ ]:
Dumbledore2_data = find_actor_two_datasets(train_data, validate_data, Dumbledore2)

                                                                       207959
nconst                                                              nm0002091
tconst                      [tt0375912, tt0530347, tt0639862, tt0706492, t...
category                                                                actor
primaryName                                                    Michael Gambon
knownForTitles                   [tt1504320, tt0097108, tt0280707, tt0417741]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                              0.043
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.016
average_films_rating_norm                                               0.728
genres_code                 [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0]

In [ ]:
similarity_value = similarity_new(Dumbledore1_data, Dumbledore2_data, True)
print("Wartość similarity dla ", Dumbledore1_data[3], " i ", Dumbledore2_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Ciarán Hinds  i  Michael Gambon  wynosi:  0.22323040752351075

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Dumbledore1_data[3], Dumbledore2_data[3], similarity_value)
file_object.write(text)
file_object.close()

Zostali porównani aktorzy, którzy w filmie "Harry Potter" byli braćmi. Similarity wyszło dodatnie

Sprawdźmy co wyjdzie, gdy porównamy aktorów przeciwnych płci, ale grających w tym samym filmie - weźmiemy Emmę Watson oraz Ciarana Hindsa.

In [ ]:
Emma_Watson = "nm0914612"

In [ ]:
Emma_Watson_data = find_actor_two_datasets(train_data, validate_data, Emma_Watson)

                                                                      1242106
nconst                                                              nm0914612
tconst                      [tt1083845, tt3281548, tt0417741, tt1659337, t...
category                                                              actress
primaryName                                                       Emma Watson
knownForTitles                   [tt2132285, tt0241527, tt2771200, tt1659337]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.002
average_films_rating_norm                                               0.702
genres_code                 [1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, ...
types_code                                  [0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0]

In [ ]:
similarity_value2 = similarity_new(Dumbledore2_data, Emma_Watson_data, True)
print("Wartość similarity dla ", Dumbledore2_data[3], " i ", Emma_Watson_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Michael Gambon  i  Emma Watson  wynosi:  0.22323040752351075

In [ ]:
similarity_value3 = similarity_new(Dumbledore1_data, Emma_Watson_data, True)
print("Wartość similarity dla ", Dumbledore1_data[3], " i ", Emma_Watson_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Ciarán Hinds  i  Emma Watson  wynosi:  0.22323040752351075

Sprawdzimy teraz co się pokaże, kiedy wezmę tę samą płeć, ale różny wiek i różne filmy, w których grały. Np. Emma Watson i Jennifer Aniston.

In [ ]:
Jennifer_Aniston = "nm0000098"

In [ ]:
Jennifer_Aniston_data = find_actor_two_datasets(train_data, validate_data, Jennifer_Aniston)

                                                                       834000
nconst                                                              nm0000098
tconst                      [tt0569285, tt0578935, tt0583456, tt0583435, t...
category                                                              actress
primaryName                                                  Jennifer Aniston
knownForTitles                   [tt1564367, tt3442006, tt0108778, tt1723121]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                              0.174
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.033
average_films_rating_norm                                               0.787
genres_code                 [1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, ...
types_code                                  [1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0]

In [ ]:
similarity_value4 = similarity_new(Jennifer_Aniston_data, Emma_Watson_data, True)
print("Wartość similarity dla ", Jennifer_Aniston_data[3], " i ", Emma_Watson_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Jennifer Aniston  i  Emma Watson  wynosi:  0.22323040752351075

Dostaliśmy 4 raz tę samą liczbę - generalnie przypał, nie mogę znaleźć interesującego wyniku w modelu.

Test