<a href="https://colab.research.google.com/github/PiotrMaciejKowalski/BigData2022-actors/blob/Testowanie_aktor%C3%B3w/Testy_podobie%C5%84stwa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [52]:
!git clone https://github.com/PiotrMaciejKowalski/BigData2022-actors.git
!mv /content/BigData2022-actors/* .
!mv /content/BigData2022-actors/.* .
!rmdir /content/BigData2022-actors/

Cloning into 'BigData2022-actors'...
remote: Enumerating objects: 1977, done.
remote: Counting objects: 100% (598/598), done.
remote: Compressing objects: 100% (220/220), done.
remote: Total 1977 (delta 503), reused 432 (delta 377), pack-reused 1379
Receiving objects: 100% (1977/1977), 6.13 MiB | 13.76 MiB/s, done.
Resolving deltas: 100% (1235/1235), done.
mv: cannot move '/content/BigData2022-actors/colabs' to './colabs': Directory not empty
mv: cannot move '/content/BigData2022-actors/data' to './data': Directory not empty
mv: cannot move '/content/BigData2022-actors/docs' to './docs': Directory not empty
mv: cannot move '/content/BigData2022-actors/lib' to './lib': Directory not empty
mv: cannot move '/content/BigData2022-actors/notebooks' to './notebooks': Directory not empty
mv: cannot move '/content/BigData2022-actors/Rozklady_start' to './Rozklady_start': Directory not empty
mv: cannot move '/content/BigData2022-actors/stripped' to './stripped': Directory not empty
mv: cannot move '/content/BigData2022-actors/tests' to './tests': Directory not empty
mv: cannot move '/content/BigData2022-actors/tutorials' to './tutorials': Directory not empty
mv: cannot move '/content/BigData2022-actors/.' to './.': Device or resource busy
mv: cannot move '/content/BigData2022-actors/..' to './..': Device or resource busy
mv: cannot move '/content/BigData2022-actors/.git' to './.git': Directory not empty
rmdir: failed to remove '/content/BigData2022-actors/': Directory not empty

In [4]:
!git checkout Testowanie_aktorów

Branch 'Testowanie_aktorów' set up to track remote branch 'Testowanie_aktorów' from 'origin'.
Switched to a new branch 'Testowanie_aktorów'

In [5]:
import pandas as pd
from lib.similarity_utils import *
from lib.const import TRAIN_DATA, VALIDATE_DATA, SIMILARITY_VALUES, RANKINGS

In [53]:
%%time
train_data = pd.read_parquet(TRAIN_DATA, columns=["nconst", "tconst", "category", "primaryName", "knownForTitles",
                                                  "no_nominations_oscars_norm", "no_nominations_globes_norm",
                                                  "no_nominations_emmy_norm", "no_films_norm",
                                                  "average_films_rating_norm", "genres_code", "types_code"])
validate_data = pd.read_parquet(VALIDATE_DATA, columns=["nconst", "tconst", "category", "primaryName", "knownForTitles",
                                                  "no_nominations_oscars_norm", "no_nominations_globes_norm",
                                                  "no_nominations_emmy_norm", "no_films_norm",
                                                  "average_films_rating_norm", "genres_code", "types_code"])

CPU times: user 40.3 s, sys: 13.1 s, total: 53.4 s
Wall time: 51.1 s

In [54]:
Dumbledore1 = "nm0001354"

In [ ]:
Dumbledore1_data = find_actor_two_datasets(train_data, validate_data, Dumbledore1)

                                                                       337803
nconst                                                              nm0001354
tconst                      [tt0114117, tt0325703, tt1346961, tt15210882, ...
category                                                                actor
primaryName                                                      Ciarán Hinds
knownForTitles                  [tt1201607, tt1596365, tt1340800, tt12789558]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.009
average_films_rating_norm                                               0.704
genres_code                 [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0]

In [ ]:
Dumbledore2 = "nm0002091"

In [ ]:
Dumbledore2_data = find_actor_two_datasets(train_data, validate_data, Dumbledore2)

                                                                       207959
nconst                                                              nm0002091
tconst                      [tt0375912, tt0530347, tt0639862, tt0706492, t...
category                                                                actor
primaryName                                                    Michael Gambon
knownForTitles                   [tt1504320, tt0097108, tt0280707, tt0417741]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                              0.043
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.016
average_films_rating_norm                                               0.728
genres_code                 [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0]

In [ ]:
similarity_value = similarity_new(Dumbledore1_data, Dumbledore2_data, True)
print("Wartość similarity dla ", Dumbledore1_data[3], " i ", Dumbledore2_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Ciarán Hinds  i  Michael Gambon  wynosi:  0.22323040752351075

In [ ]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Dumbledore1_data[3], Dumbledore2_data[3], similarity_value)
file_object.write(text)
file_object.close()

Zostali porównani aktorzy, którzy w filmie "Harry Potter" byli braćmi. Similarity wyszło dodatnie

Sprawdźmy co wyjdzie, gdy porównamy aktorów przeciwnych płci, ale grających w tym samym filmie - weźmiemy Emmę Watson oraz Ciarana Hindsa.

In [ ]:
Emma_Watson = "nm0914612"

In [ ]:
Emma_Watson_data = find_actor_two_datasets(train_data, validate_data, Emma_Watson)

                                                                      1242106
nconst                                                              nm0914612
tconst                      [tt1083845, tt3281548, tt0417741, tt1659337, t...
category                                                              actress
primaryName                                                       Emma Watson
knownForTitles                   [tt2132285, tt0241527, tt2771200, tt1659337]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.002
average_films_rating_norm                                               0.702
genres_code                 [1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, ...
types_code                                  [0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0]

In [ ]:
similarity_value2 = similarity_new(Dumbledore2_data, Emma_Watson_data, True)
print("Wartość similarity dla ", Dumbledore2_data[3], " i ", Emma_Watson_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Michael Gambon  i  Emma Watson  wynosi:  0.22323040752351075

In [ ]:
similarity_value3 = similarity_new(Dumbledore1_data, Emma_Watson_data, True)
print("Wartość similarity dla ", Dumbledore1_data[3], " i ", Emma_Watson_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Ciarán Hinds  i  Emma Watson  wynosi:  0.22323040752351075

Sprawdzimy teraz co się pokaże, kiedy wezmę tę samą płeć, ale różny wiek i różne filmy, w których grały. Np. Emma Watson i Jennifer Aniston.

In [ ]:
Jennifer_Aniston = "nm0000098"

In [ ]:
Jennifer_Aniston_data = find_actor_two_datasets(train_data, validate_data, Jennifer_Aniston)

                                                                       834000
nconst                                                              nm0000098
tconst                      [tt0569285, tt0578935, tt0583456, tt0583435, t...
category                                                              actress
primaryName                                                  Jennifer Aniston
knownForTitles                   [tt1564367, tt3442006, tt0108778, tt1723121]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                              0.174
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.033
average_films_rating_norm                                               0.787
genres_code                 [1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, ...
types_code                                  [1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0]

In [ ]:
similarity_value4 = similarity_new(Jennifer_Aniston_data, Emma_Watson_data, True)
print("Wartość similarity dla ", Jennifer_Aniston_data[3], " i ", Emma_Watson_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Jennifer Aniston  i  Emma Watson  wynosi:  0.22323040752351075

Dostaliśmy 4 raz tę samą liczbę - generalnie przypał, nie mogę znaleźć interesującego wyniku w modelu.

#Podobieństwa w aktorów grających Jamesa Bonda

In [55]:
JamesBond1 = "nm0000125" #Sean Connery

In [56]:
JamesBond1_data = find_actor_two_datasets(train_data, validate_data, JamesBond1)

                                                                       972939
nconst                                                              nm0000125
tconst                      [tt0086006, tt0063592, tt0066767, tt0066995, t...
category                                                                actor
primaryName                                                      Sean Connery
knownForTitles                   [tt0117500, tt0059800, tt0055928, tt0094226]
no_nominations_oscars_norm                                              0.023
no_nominations_globes_norm                                              0.174
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.008
average_films_rating_norm                                               0.665
genres_code                 [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, ...
types_code                                  [1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0]

In [59]:
if JamesBond1 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, JamesBond1_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif JamesBond1 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, JamesBond1_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(JamesBond1_data[3], names, values)

Najbardziej podobnymi do Sean Connery aktorami/aktorkami są w kolejności:
  - Bob Hope z similarity równym: 0.286
  - Jeff Bridges z similarity równym: 0.272
  - Bing Crosby z similarity równym: 0.259

In [60]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(JamesBond1[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [61]:
JamesBond2 = "nm0493872" #George Lazebny

In [62]:
JamesBond2_data = find_actor_two_datasets(train_data, validate_data, JamesBond2)

                                                                        10576
nconst                                                              nm0493872
tconst                      [tt12471922, tt9222588, tt0076257, tt0104184, ...
category                                                                actor
primaryName                                                    George Lazenby
knownForTitles                   [tt0107007, tt0064757, tt0308937, tt0073343]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                              0.043
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.004
average_films_rating_norm                                               0.597
genres_code                 [1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, ...
types_code                                  [0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0]

In [63]:
if JamesBond2 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, JamesBond2_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif JamesBond2 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, JamesBond2_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(JamesBond2_data[3], names, values)

Najbardziej podobnymi do George Lazenby aktorami/aktorkami są w kolejności:
  - Royce D. Applegate z similarity równym: 0.275
  - Seth Adkins z similarity równym: 0.252
  - Toralv Maurstad z similarity równym: 0.252

In [64]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(JamesBond2[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [65]:
similarity_value = similarity_new(JamesBond2_data, JamesBond1_data, True)
print("Wartość similarity dla ", JamesBond2_data[3], " i ", JamesBond1_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  George Lazenby  i  Sean Connery  wynosi:  0.09581905956112857

In [66]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond2_data[3], JamesBond1_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [67]:
JamesBond3 = "nm0000549" #Roger Moore

In [68]:
JamesBond3_data = find_actor_two_datasets(train_data, validate_data, JamesBond3)

                                                                       744755
nconst                                                              nm0000549
tconst                      [tt0051286, tt0066521, tt0070328, tt0438032, t...
category                                                                actor
primaryName                                                       Roger Moore
knownForTitles                   [tt0079574, tt0070328, tt0082398, tt0076752]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                              0.043
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                            0.03
average_films_rating_norm                                               0.709
genres_code                 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0]

In [69]:
if JamesBond3 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, JamesBond3_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif JamesBond3 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, JamesBond3_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(JamesBond3_data[3], names, values)

Najbardziej podobnymi do Roger Moore aktorami/aktorkami są w kolejności:
  - Geoffrey Keen z similarity równym: 0.3
  - William Shatner z similarity równym: 0.293
  - Hulk Hogan z similarity równym: 0.278

In [70]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(JamesBond3[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [71]:
similarity_value = similarity_new(JamesBond3_data, JamesBond1_data, True)
print("Wartość similarity dla ", JamesBond3_data[3], " i ", JamesBond1_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Roger Moore  i  Sean Connery  wynosi:  0.22469830721003126

In [72]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond3_data[3], JamesBond1_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [73]:
similarity_value = similarity_new(JamesBond3_data, JamesBond2_data, True)
print("Wartość similarity dla ", JamesBond3_data[3], " i ", JamesBond2_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Roger Moore  i  George Lazenby  wynosi:  0.10244564263322875

In [74]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond3_data[3], JamesBond2_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [75]:
JamesBond4 = "nm0001096"

In [76]:
JamesBond4_data = find_actor_two_datasets(train_data, validate_data, JamesBond4)

                                                                      1587567
nconst                                                              nm0001096
tconst                      [tt0073530, tt0195165, tt11986814, tt1250466, ...
category                                                                actor
primaryName                                                    Timothy Dalton
knownForTitles                   [tt0097742, tt0425112, tt0080745, tt0093428]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                            0.01
average_films_rating_norm                                               0.744
genres_code                 [1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0]

In [77]:
if JamesBond4 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, JamesBond4_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif JamesBond4 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, JamesBond4_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(JamesBond4_data[3], names, values)

Najbardziej podobnymi do Timothy Dalton aktorami/aktorkami są w kolejności:
  - Christopher Neame z similarity równym: 0.332
  - Nadim Sawalha z similarity równym: 0.328
  - Rory Kinnear z similarity równym: 0.319

In [78]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(JamesBond4[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [79]:
similarity_value = similarity_new(JamesBond4_data, JamesBond1_data, True)
print("Wartość similarity dla ", JamesBond4_data[3], " i ", JamesBond1_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Timothy Dalton  i  Sean Connery  wynosi:  0.10496564263322883

In [80]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond4_data[3], JamesBond1_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [81]:
similarity_value = similarity_new(JamesBond4_data, JamesBond2_data, True)
print("Wartość similarity dla ", JamesBond4_data[3], " i ", JamesBond2_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Timothy Dalton  i  George Lazenby  wynosi:  0.15387285266457673

In [82]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond4_data[3], JamesBond2_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [83]:
similarity_value = similarity_new(JamesBond4_data, JamesBond3_data, True)
print("Wartość similarity dla ", JamesBond4_data[3], " i ", JamesBond3_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Timothy Dalton  i  Roger Moore  wynosi:  0.1485983699059561

In [84]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond4_data[3], JamesBond3_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [85]:
JamesBond5 = "nm0000112"

In [86]:
JamesBond5_data = find_actor_two_datasets(train_data, validate_data, JamesBond5)

                                                                       466834
nconst                                                              nm0000112
tconst                      [tt0120347, tt0128239, tt0684830, tt0684869, t...
category                                                                actor
primaryName                                                    Pierce Brosnan
knownForTitles                   [tt0155267, tt0120347, tt0143145, tt0795421]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                              0.087
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                            0.02
average_films_rating_norm                                               0.714
genres_code                 [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0]

In [ ]:
if JamesBond5 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, JamesBond5_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif JamesBond5 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, JamesBond5_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(JamesBond5_data[3], names, values)

In [89]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(JamesBond5[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [90]:
similarity_value = similarity_new(JamesBond5_data, JamesBond1_data, True)
print("Wartość similarity dla ", JamesBond5_data[3], " i ", JamesBond1_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Pierce Brosnan  i  Sean Connery  wynosi:  0.17389285266457688

In [91]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond5_data[3], JamesBond1_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [92]:
similarity_value = similarity_new(JamesBond5_data, JamesBond2_data, True)
print("Wartość similarity dla ", JamesBond5_data[3], " i ", JamesBond2_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Pierce Brosnan  i  George Lazenby  wynosi:  0.12159529780564249

In [93]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond5_data[3], JamesBond2_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [94]:
similarity_value = similarity_new(JamesBond5_data, JamesBond3_data, True)
print("Wartość similarity dla ", JamesBond5_data[3], " i ", JamesBond3_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Pierce Brosnan  i  Roger Moore  wynosi:  0.2170455799373041

In [95]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond5_data[3], JamesBond3_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [96]:
similarity_value = similarity_new(JamesBond5_data, JamesBond4_data, True)
print("Wartość similarity dla ", JamesBond5_data[3], " i ", JamesBond4_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Pierce Brosnan  i  Timothy Dalton  wynosi:  0.2662727899686521

In [97]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond5_data[3], JamesBond4_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [98]:
JamesBond6 = "nm0185819"

In [99]:
JamesBond6_data = find_actor_two_datasets(train_data, validate_data, JamesBond6)

                                                                      1756395
nconst                                                              nm0185819
tconst                      [tt0161010, tt0366627, tt0375912, tt0386741, t...
category                                                                actor
primaryName                                                      Daniel Craig
knownForTitles                   [tt2382320, tt1074638, tt0381061, tt2379713]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                              0.043
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.007
average_films_rating_norm                                                0.68
genres_code                 [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0]

In [100]:
if JamesBond6 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, JamesBond6_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif JamesBond6 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, JamesBond6_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(JamesBond6_data[3], names, values)

Najbardziej podobnymi do Daniel Craig aktorami/aktorkami są w kolejności:
  - Sam Elliott z similarity równym: 0.306
  - Michael York z similarity równym: 0.304
  - Dan Aykroyd z similarity równym: 0.303

In [101]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(JamesBond6[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [102]:
similarity_value = similarity_new(JamesBond6_data, JamesBond1_data, True)
print("Wartość similarity dla ", JamesBond6_data[3], " i ", JamesBond1_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Daniel Craig  i  Sean Connery  wynosi:  0.21000557993730418

In [103]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond6_data[3], JamesBond1_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [104]:
similarity_value = similarity_new(JamesBond6_data, JamesBond2_data, True)
print("Wartość similarity dla ", JamesBond6_data[3], " i ", JamesBond2_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Daniel Craig  i  George Lazenby  wynosi:  0.10892257053291532

In [105]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond6_data[3], JamesBond2_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [106]:
similarity_value = similarity_new(JamesBond6_data, JamesBond3_data, True)
print("Wartość similarity dla ", JamesBond6_data[3], " i ", JamesBond3_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Daniel Craig  i  Roger Moore  wynosi:  0.2592955190575079

In [107]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond6_data[3], JamesBond3_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [108]:
similarity_value = similarity_new(JamesBond6_data, JamesBond4_data, True)
print("Wartość similarity dla ", JamesBond6_data[3], " i ", JamesBond4_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Daniel Craig  i  Timothy Dalton  wynosi:  0.21379040752351086

In [109]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond6_data[3], JamesBond4_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [110]:
similarity_value = similarity_new(JamesBond6_data, JamesBond5_data, True)
print("Wartość similarity dla ", JamesBond6_data[3], " i ", JamesBond5_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Daniel Craig  i  Pierce Brosnan  wynosi:  0.2567479623824451

In [111]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(JamesBond6_data[3], JamesBond5_data[3], similarity_value)
file_object.write(text)
file_object.close()

#Dubbing tych samych postaci

In [112]:
Donkey1 = "nm0000552"

In [113]:
Donkey1_data = find_actor_two_datasets(train_data, validate_data, Donkey1)

                                                                      1042369
nconst                                                              nm0000552
tconst                      [tt0842425, tt0873257, tt0360985, tt0477051, t...
category                                                                actor
primaryName                                                      Eddie Murphy
knownForTitles                   [tt0094898, tt0117218, tt0126029, tt0443489]
no_nominations_oscars_norm                                              0.023
no_nominations_globes_norm                                              0.261
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.008
average_films_rating_norm                                               0.648
genres_code                 [1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, ...
types_code                                  [1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0]

In [114]:
if Donkey1 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Donkey1_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Donkey1 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Donkey1_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Donkey1_data[3], names, values)

Najbardziej podobnymi do Eddie Murphy aktorami/aktorkami są w kolejności:
  - Nacho Vigalondo z similarity równym: 0.248
  - Kit DeZolt z similarity równym: 0.247
  - P.J. Brown z similarity równym: 0.242

In [115]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Donkey1[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [116]:
Donkey2 = "nm0836136"

In [117]:
Donkey2_data = find_actor_two_datasets(train_data, validate_data, Donkey2)

                                                                      1410031
nconst                                                              nm0836136
tconst                      [tt0091096, tt0250103, tt0380636, tt0209445, t...
category                                                                actor
primaryName                                                       Jerzy Stuhr
knownForTitles                   [tt0246593, tt0209445, tt0078763, tt0123889]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.005
average_films_rating_norm                                               0.667
genres_code                 [1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0]

In [118]:
if Donkey2 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Donkey2_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Donkey2 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Donkey2_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Donkey2_data[3], names, values)

Najbardziej podobnymi do Jerzy Stuhr aktorami/aktorkami są w kolejności:
  - Leslie Carlson z similarity równym: 0.324
  - R. Keith Harris z similarity równym: 0.32
  - Peter MacNicol z similarity równym: 0.32

In [119]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Donkey2[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [120]:
similarity_value = similarity_new(Donkey2_data, Donkey1_data, True)
print("Wartość similarity dla ", Donkey2_data[3], " i ", Donkey1_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Jerzy Stuhr  i  Eddie Murphy  wynosi:  0.17999592476489035

In [121]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Donkey2_data[3], Donkey1_data[3], similarity_value)
file_object.write(text)
file_object.close()

In [128]:
Mufasa1 = "nm0000469"

In [129]:
Mufasa1_data = find_actor_two_datasets(train_data, validate_data, Mufasa1)

                                                                      1131662
nconst                                                              nm0000469
tconst                      [tt0082212, tt0092534, tt0104215, tt0110357, t...
category                                                                actor
primaryName                                                  James Earl Jones
knownForTitles                   [tt0094898, tt0099810, tt3748528, tt6105098]
no_nominations_oscars_norm                                              0.023
no_nominations_globes_norm                                              0.217
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.019
average_films_rating_norm                                               0.681
genres_code                 [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0]

In [130]:
if Mufasa1 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Mufasa1_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Mufasa1 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Mufasa1_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Mufasa1_data[3], names, values)

Najbardziej podobnymi do James Earl Jones aktorami/aktorkami są w kolejności:
  - Jimmy Smits z similarity równym: 0.302
  - Alec Baldwin z similarity równym: 0.302
  - Ed Harris z similarity równym: 0.299

In [131]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Mufasa1[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [132]:
Mufasa2 = "nm0953975"

In [133]:
Mufasa2_data = find_actor_two_datasets(train_data, validate_data, Mufasa2)

                                                                       259073
nconst                                                              nm0953975
tconst                      [tt0551824, tt0965545, tt10395818, tt14330772,...
category                                                                actor
primaryName                                                  Wiktor Zborowski
knownForTitles                   [tt0102242, tt0343292, tt0173562, tt0128378]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.004
average_films_rating_norm                                                0.58
genres_code                 [1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, ...
types_code                                  [1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0]

In [134]:
if Mufasa2 in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Mufasa2_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Mufasa2 in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Mufasa2_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Mufasa2_data[3], names, values)

Najbardziej podobnymi do Wiktor Zborowski aktorami/aktorkami są w kolejności:
  - Ryszard Jablonski z similarity równym: 0.292
  - Maciej Stuhr z similarity równym: 0.289
  - Gustaw Lutkiewicz z similarity równym: 0.284

In [135]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Mufasa2[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [136]:
similarity_value = similarity_new(Mufasa2_data, Mufasa1_data, True)
print("Wartość similarity dla ", Mufasa2_data[3], " i ", Mufasa1_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Wiktor Zborowski  i  James Earl Jones  wynosi:  0.10012871473354235

In [137]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Mufasa2_data[3], Mufasa1_data[3], similarity_value)
file_object.write(text)
file_object.close()

#Znani z filmów walki

In [138]:
Bruce_Lee = "nm0000045"

In [139]:
Bruce_Lee_data = find_actor_two_datasets(train_data, validate_data, Bruce_Lee)

                                                                      1746144
nconst                                                              nm0000045
tconst                      [tt0066681, tt0193289, tt0592818, tt0592819, t...
category                                                                actor
primaryName                                                         Bruce Lee
knownForTitles                   [tt0070034, tt0068767, tt0067824, tt0068935]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.004
average_films_rating_norm                                               0.723
genres_code                 [1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...
types_code                                  [1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0]

In [140]:
if Bruce_Lee in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Bruce_Lee_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Bruce_Lee in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Bruce_Lee_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Bruce_Lee_data[3], names, values)

Najbardziej podobnymi do Bruce Lee aktorami/aktorkami są w kolejności:
  - Wende Wagner z similarity równym: 0.437
  - Lloyd Gough z similarity równym: 0.369
  - Nora Miao z similarity równym: 0.355

In [141]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Bruce_Lee[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [142]:
Chuck_Norris = "nm0001569"

In [143]:
Chuck_Norris_data = find_actor_two_datasets(train_data, validate_data, Chuck_Norris)

                                                                      1161115
nconst                                                              nm0001569
tconst                      [tt0082350, tt0743439, tt0743456, tt0743468, t...
category                                                                actor
primaryName                                                      Chuck Norris
knownForTitles                   [tt0068935, tt0089348, tt1764651, tt0106168]
no_nominations_oscars_norm                                                0.0
no_nominations_globes_norm                                                0.0
no_nominations_emmy_norm                                                  0.5
no_films_norm                                                           0.022
average_films_rating_norm                                               0.698
genres_code                 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, ...
types_code                                  [1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0]

In [144]:
if Chuck_Norris in list(train_data['nconst']):
    ids, values = similarity_one_vs_all_new(train_data, Chuck_Norris_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(train_data, ids, 3)
elif Chuck_Norris in list(validate_data['nconst']):
    ids, values = similarity_one_vs_all_new(validate_data, Chuck_Norris_data, True)
    ids, values = select_top_similiar(ids, values, 3)
    names = replace_ids_with_names(validate_data, ids, 3)
ranking = print_top_similiar(Chuck_Norris_data[3], names, values)

Najbardziej podobnymi do Chuck Norris aktorami/aktorkami są w kolejności:
  - Sheree J. Wilson z similarity równym: 0.446
  - Noble Willingham z similarity równym: 0.442
  - Clarence Gilyard Jr. z similarity równym: 0.434

In [145]:
file_object = open(RANKINGS, 'a')
text = "Najbardziej podobni do {}:\n- {}, similarity: {}\n- {}, similarity: {}\n- {}, similarity: {}\n".format(Chuck_Norris[3], names[0], values[0], names[1], values[1], names[2], values[2])
file_object.write(text)
file_object.close()

In [146]:
similarity_value = similarity_new(Chuck_Norris_data, Bruce_Lee_data, True)
print("Wartość similarity dla ", Chuck_Norris_data[3], " i ",Bruce_Lee_data[3], " wynosi: ", similarity_value)

Wartość similarity dla  Chuck Norris  i  Bruce Lee  wynosi:  0.1928297984773848

In [147]:
file_object = open(SIMILARITY_VALUES, 'a')
text = "{}, {}, similarity value: {}\n".format(Chuck_Norris_data[3], Bruce_Lee_data[3], similarity_value)
file_object.write(text)
file_object.close()