<a href="https://colab.research.google.com/github/PiotrMaciejKowalski/BigData2022-actors/blob/Ladowanie_danych_do_pandasDF/colabs/Liczenie_similarity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Przygotowanie notatnika

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
!git clone https://github.com/PiotrMaciejKowalski/BigData2022-actors.git
!mv /content/BigData2022-actors/* .
!mv /content/BigData2022-actors/.* .
!rmdir /content/BigData2022-actors/

Cloning into 'BigData2022-actors'...
remote: Enumerating objects: 642, done.
remote: Counting objects: 100% (336/336), done.
remote: Compressing objects: 100% (231/231), done.
remote: Total 642 (delta 193), reused 165 (delta 104), pack-reused 306
Receiving objects: 100% (642/642), 5.28 MiB | 9.74 MiB/s, done.
Resolving deltas: 100% (309/309), done.
mv: cannot move '/content/BigData2022-actors/.' to './.': Device or resource busy
mv: cannot move '/content/BigData2022-actors/..' to './..': Device or resource busy

# Zaczytanie danych z pliku

# Zapisanie pliku jako Pandas DataFrame

In [3]:
import numpy as np
import pandas as pd

W poradniku "Tworzenie skrotu do GDrive" w folderze tutorials jest poradnik jak sprawić żeby poniższa lokalizacja się poprawnie pokazywała.

In [4]:
dane = pd.read_parquet('/content/gdrive/MyDrive/bigdataaktorzy/data_with_awards.parquet')

## Wyświetlamy załadowane dane

In [5]:
dane.head(5)

,nconst,tconst,titleType,originalTitle,isAdult,startYear,endYear,genres,category,characters,...,year_globes,category_globes,film_globes,win_globes,year_emmy,category_emmy,nominee_emmy,company_emmy,producer_emmy,win_emmy
0,nm0000004,"[tt0694438, tt0694654, tt0694932, tt0694936, t...","[tvEpisode, tvEpisode, tvEpisode, tvEpisode, t...",[Jill Clayburgh/Leon Redbone/The Singing Idler...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1973,\N,"[Comedy,Music, Comedy,Music, Comedy,Music, Com...",actor,"[[""Jawaharlal Nehru"",""Various""], [""Larry Farbe...",...,[],[],[],[],[],[],[],[],[],[]
1,nm0000012,"[tt0058413, tt0059496, tt0062671, tt0082360, t...","[movie, movie, movie, tvMovie, tvMovie, tvEpis...","[La noia, The Nanny, The Anniversary, Family R...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1931,\N,"[Drama, Mystery,Thriller, Comedy,Drama,Thrille...",actress,"[[""Dino's mother""], [""Nanny""], [""Mrs. Taggart""...",...,"[1974, 1963, 1962, 1951]","[Cecil B. deMille Award, Best Performance by a...","[What Ever Happened To Baby Jane?, Pocketful o...","[False, False, False, False]",[],[],[],[],[],[]
2,nm0000023,"[tt0034415, tt0162376, tt0041507, tt0057168, t...","[movie, short, movie, movie, movie, movie, mov...","[Ziegfeld Girl, A Holiday in Storyland, In the...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1929,\N,"[Drama,Musical,Romance, Musical,Short, Comedy,...",actress,"[[""Susan Gallagher""], [""Frances Gumm - One of ...",...,"[1962, 1962, 1955]","[Cecil B. deMille Award, Best Performance by a...","[Judgment at Nuremberg, Star is Born, A (1954)]","[False, False, True]",[],[],[],[],[],[]
3,nm0000029,"[tt0084786, tt0181770, tt0100141, tt0109656, t...","[movie, tvMovie, movie, movie, movie, movie, m...","[They Call Me Bruce, Portami la luna, La messe...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",1976,\N,"[Action,Comedy, Romance, Drama,Music,Romance, ...",actress,"[[""Karmen""], [""Lynn""], [""Sophie""], [""Heather D...",...,[],[],[],[],[],[],[],[],[],[]
4,nm0000086,"[tt0043691, tt0057422, tt0058089, tt0062120, t...","[tvMovie, movie, movie, movie, movie, short, t...","[Les joueurs, Pouic-Pouic, Fantômas, Le petit ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1950,\N,"[Comedy, Comedy, Adventure,Comedy,Crime, Comed...",actor,"[[""Piotr Petrovitch""], [""Léonard Monestier""], ...",...,[],[],[],[],[],[],[],[],[],[]