<a href="https://colab.research.google.com/github/PiotrMaciejKowalski/BigData2022-actors/blob/Poczenie-baz-danych-nagrd-z-main-data/colabs/Wczytanie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Setup sparka

# Załadowanie nowych baz

##Setup sparka

In [1]:
!pip install pyspark py4j
!pip install -q findspark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget ftp://ftp.ps.pl/pub/apache/spark/spark-3.3.1/spark-3.3.1-bin-hadoop2.tgz
!tar xf spark-3.3.1-bin-hadoop2.tgz

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     |████████████████████████████████| 200 kB 36.9 MB/s
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 34.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=d82bca0704cd612a856f6da8e7fdf49c1e891ce3e9ebb1bcc20f7aab5b94a749
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1
--2022-11-28 07:33:29--  ftp://ftp.ps.pl/pub/apache/spark/spark-3.3.1/spark-3.3.1-bin-hadoop2.tgz
           => ‘spark-3.3.1-bin-hadoop2.tgz’
Resolving ftp.ps.pl (ftp.ps.pl)... 212.14.28.36, 2001:4c58:62:2::36
Connecting to ftp.ps.pl (ftp.ps.pl)|212.14.28.36|:21... connected.
Logging in as anonymous ... Logged in!
==> SYST ... done.    ==> PWD ... done.
==> TYPE I ... done.  ==> CWD (1) /pub/apache/spark/spark-3.3.1 ... done.
==> SIZE spark-3.3.1-bin-hadoop2.tgz ... 274099817
==> PASV ... done.    ==> RETR spark-3.3.1-bin-hadoop2.tgz ... done.
Length: 274099817 (261M) (unauthoritative)

spark-3.3.1-bin-had 100%[===================>] 261.40M  24.9MB/s    in 11s

2022-11-28 07:33:42 (23.3 MB/s) - ‘spark-3.3.1-bin-hadoop2.tgz’ saved [274099817]

In [2]:
import pyspark
import findspark
from pyspark.sql import SparkSession
import os

In [3]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop2"
spark=SparkSession.builder.appName('Colab').getOrCreate()
spark

#Pobranie danych

##Import danych

In [4]:
!wget https://datasets.imdbws.com/name.basics.tsv.gz
!wget https://datasets.imdbws.com/title.akas.tsv.gz
!wget https://datasets.imdbws.com/title.basics.tsv.gz
!wget https://datasets.imdbws.com/title.crew.tsv.gz
!wget https://datasets.imdbws.com/title.episode.tsv.gz
!wget https://datasets.imdbws.com/title.principals.tsv.gz
!wget https://datasets.imdbws.com/title.ratings.tsv.gz

--2022-11-28 07:33:58--  https://datasets.imdbws.com/name.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.160.46.123, 18.160.46.120, 18.160.46.19, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.160.46.123|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 236951880 (226M) [binary/octet-stream]
Saving to: ‘name.basics.tsv.gz’

name.basics.tsv.gz  100%[===================>] 225.97M   163MB/s    in 1.4s

2022-11-28 07:33:59 (163 MB/s) - ‘name.basics.tsv.gz’ saved [236951880/236951880]

--2022-11-28 07:33:59--  https://datasets.imdbws.com/title.akas.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.160.46.123, 18.160.46.120, 18.160.46.19, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.160.46.123|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 288688343 (275M) [binary/octet-stream]
Saving to: ‘title.akas.tsv.gz’

title.akas.tsv.gz   100%[===================>] 275.31M   213MB/s    in 1.3s

2022-11-28 07:34:01 (213 MB/s) - ‘title.akas.tsv.gz’ saved [288688343/288688343]

--2022-11-28 07:34:01--  https://datasets.imdbws.com/title.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.160.46.123, 18.160.46.120, 18.160.46.19, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.160.46.123|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 164346648 (157M) [binary/octet-stream]
Saving to: ‘title.basics.tsv.gz’

title.basics.tsv.gz 100%[===================>] 156.73M   213MB/s    in 0.7s

2022-11-28 07:34:01 (213 MB/s) - ‘title.basics.tsv.gz’ saved [164346648/164346648]

--2022-11-28 07:34:01--  https://datasets.imdbws.com/title.crew.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.160.46.123, 18.160.46.120, 18.160.46.19, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.160.46.123|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 63069885 (60M) [binary/octet-stream]
Saving to: ‘title.crew.tsv.gz’

title.crew.tsv.gz   100%[===================>]  60.15M   192MB/s    in 0.3s

2022-11-28 07:34:02 (192 MB/s) - ‘title.crew.tsv.gz’ saved [63069885/63069885]

--2022-11-28 07:34:02--  https://datasets.imdbws.com/title.episode.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.160.46.123, 18.160.46.120, 18.160.46.19, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.160.46.123|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 38652153 (37M) [binary/octet-stream]
Saving to: ‘title.episode.tsv.gz’

title.episode.tsv.g 100%[===================>]  36.86M   166MB/s    in 0.2s

2022-11-28 07:34:02 (166 MB/s) - ‘title.episode.tsv.gz’ saved [38652153/38652153]

--2022-11-28 07:34:02--  https://datasets.imdbws.com/title.principals.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.160.46.123, 18.160.46.120, 18.160.46.19, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.160.46.123|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 418597014 (399M) [binary/octet-stream]
Saving to: ‘title.principals.tsv.gz’

title.principals.ts 100%[===================>] 399.21M   198MB/s    in 2.0s

2022-11-28 07:34:04 (198 MB/s) - ‘title.principals.tsv.gz’ saved [418597014/418597014]

--2022-11-28 07:34:04--  https://datasets.imdbws.com/title.ratings.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.160.46.123, 18.160.46.120, 18.160.46.19, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.160.46.123|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6281932 (6.0M) [binary/octet-stream]
Saving to: ‘title.ratings.tsv.gz’

title.ratings.tsv.g 100%[===================>]   5.99M  --.-KB/s    in 0.07s

2022-11-28 07:34:04 (83.6 MB/s) - ‘title.ratings.tsv.gz’ saved [6281932/6281932]

##Rozpakowanie danych

In [5]:
!gzip -dc /content/name.basics.tsv.gz > name.basics.csv
!gzip -dc /content/title.akas.tsv.gz > title.akas.csv
!gzip -dc /content/title.basics.tsv.gz > title.basic.csv
!gzip -dc /content/title.crew.tsv.gz > title.crew.csv
!gzip -dc /content/title.episode.tsv.gz > title.episode.csv
!gzip -dc /content/title.principals.tsv.gz > title.principals.csv
!gzip -dc /content/title.ratings.tsv.gz > title.ratings.csv

#Wczytanie danych

##Wczytajmy dane z rozpakowanych plików

In [6]:
df_name_basics=spark.read.option("header", "true").option("delimiter", "\t").csv('name.basics.csv' ) 
df_title_akas=spark.read.option("header","true").option("delimiter", "\t").csv('title.akas.csv')
df_title_basic=spark.read.option("header","true").option("delimiter", "\t").csv('title.basic.csv')
df_title_crew=spark.read.option("header","true").option("delimiter", "\t").csv('title.crew.csv')
df_title_episode=spark.read.option("header","true").option("delimiter","\t").csv('title.episode.csv')
df_title_principals=spark.read.option("header","true").option("delimiter","\t").csv('title.principals.csv')
df_title_ratings=spark.read.option("header","true").option("delimiter","\t").csv('title.ratings.csv')

##Wyświetlmy dane

In [7]:
df_name_basics.show(3)
df_title_akas.show(3)
df_title_basic.show(3)
df_title_crew.show(3)
df_title_episode.show(3)
df_title_principals.show(3)
df_title_ratings.show(3)

+---------+---------------+---------+---------+--------------------+--------------------+
|   nconst|    primaryName|birthYear|deathYear|   primaryProfession|      knownForTitles|
+---------+---------------+---------+---------+--------------------+--------------------+
|nm0000001|   Fred Astaire|     1899|     1987|soundtrack,actor,...|tt0031983,tt00504...|
|nm0000002|  Lauren Bacall|     1924|     2014|  actress,soundtrack|tt0038355,tt00373...|
|nm0000003|Brigitte Bardot|     1934|       \N|actress,soundtrac...|tt0054452,tt00573...|
+---------+---------------+---------+---------+--------------------+--------------------+
only showing top 3 rows

+---------+--------+--------------------+------+--------+-----------+-------------+---------------+
|  titleId|ordering|               title|region|language|      types|   attributes|isOriginalTitle|
+---------+--------+--------------------+------+--------+-----------+-------------+---------------+
|tt0000001|       1|          Карменсіта|    UA|      \N|imdbDisplay|           \N|              0|
|tt0000001|       2|          Carmencita|    DE|      \N|         \N|literal title|              0|
|tt0000001|       3|Carmencita - span...|    HU|      \N|imdbDisplay|           \N|              0|
+---------+--------+--------------------+------+--------+-----------+-------------+---------------+
only showing top 3 rows

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 3 rows

+---------+---------+-------+
|   tconst|directors|writers|
+---------+---------+-------+
|tt0000001|nm0005690|     \N|
|tt0000002|nm0721526|     \N|
|tt0000003|nm0721526|     \N|
+---------+---------+-------+
only showing top 3 rows

+---------+------------+------------+-------------+
|   tconst|parentTconst|seasonNumber|episodeNumber|
+---------+------------+------------+-------------+
|tt0041951|   tt0041038|           1|            9|
|tt0042816|   tt0989125|           1|           17|
|tt0042889|   tt0989125|          \N|           \N|
+---------+------------+------------+-------------+
only showing top 3 rows

+---------+--------+---------+---------------+--------------------+----------+
|   tconst|ordering|   nconst|       category|                 job|characters|
+---------+--------+---------+---------------+--------------------+----------+
|tt0000001|       1|nm1588970|           self|                  \N|  ["Self"]|
|tt0000001|       2|nm0005690|       director|                  \N|        \N|
|tt0000001|       3|nm0374658|cinematographer|director of photo...|        \N|
+---------+--------+---------+---------------+--------------------+----------+
only showing top 3 rows

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000001|          5.7|    1924|
|tt0000002|          5.8|     259|
|tt0000003|          6.5|    1737|
+---------+-------------+--------+
only showing top 3 rows

# Złączenie istotnych kolumn

## Wybierzmy z tabel tylko istotne rekordy:
- df_title_basic: wybierzmy tylko rekordy z primaryProfession zawierającym "actor" lub "actress",
- df_title_principals: wybierzmy rekordy z category zawierającym "actor" lub "actress".

In [8]:
df_name_basics_selected = df_name_basics.filter("primaryProfession like '%actor%' or primaryProfession like '%actress%'")
df_title_principals_selected = df_title_principals.filter((df_title_principals.category == "actor") | (df_title_principals.category == "actress"))

## Wybierzmy następujące kolumny z tabel:
- df_title_basic:
  - tconst (unikalny numer tytułu - potrzebne do złączenia tabel)
  - titleType (rodzaj tytułu, np. film, serial - można porównywać podobieństwo aktorów na podstawie tego w jakich typach produkcji grali)
  - originalTitle (tytuł produkcji - być może przyda się do analizy podobnych filmów)
  - isAdult (czy produkcja jest dla dorosłych - można wykorzystać do porównywania aktorów na podstawie tego czy grają głównie w produkcjach dla dorosłych)
  - startYear (data wypuszczenia produkcji - można wykorzystać do porównania epok filmów, w których grali aktorzy)
  - endYear (data zakończenia serii, w innych przypadkach \N - można wykorzystać do porównania epok filmów, w których grali aktorzy)
  - genres (gatunki - może posłużyć do porównania aktorów na podstawie tego, że grali w produkcjach o podobnych gatunkach)

- df_title_principals:
  - tconst (unikalny numer tytułu - potrzebne do złączenia tabel)
  - nconst (unikalny numer aktora - potrzebne do złączenia tabel)
  - category (kategoria pracy (actor/actress) - może posłużyć do porównania aktorów na podstawie takiej samej płci)
  - characters (postacie zagrane w produkcji - może posłużyć do porównania aktorów na podstawie podobnych granych postaci)

- df_name_basics:
  - nconst(unikalny numer aktora - potrzebne do złączenia tabel)
  - primaryName (imię i nazwisko aktora - potrzebne do wyświetlania aktora lub do odnajdywania go w bazie po imieniu i nazwisku)
  - knownForTitles (tytuły produkcji, z których znany jest aktor - może posłużyć do porównania aktorów na podstawie tych samych lub podobnych produkcji, z których są znani)

In [9]:
df_title_basic_selected = df_title_basic.select(["tconst", "titleType", "originalTitle", "isAdult", "startYear", "endYear", "genres"])
df_title_principals_selected = df_title_principals_selected.select(["tconst", "nconst", "category", "characters"])
df_name_basics_selected = df_name_basics_selected.select(["nconst", "primaryName", "knownForTitles"])

# Złączmy tabele df_name_basics, df_title_principals i df_title_basic

In [10]:
print("df_name_basics_selected dataframe size: ", (df_name_basics_selected.count(), len(df_name_basics_selected.columns)))
print("df_title_principals_selected dataframe size: ", (df_title_principals_selected.count(), len(df_title_principals_selected.columns)))
print("df_title_basic_selected dataframe size: ", (df_title_basic_selected.count(), len(df_title_basic_selected.columns)))
data = df_title_basic_selected.join(df_title_principals_selected, "tconst", "right")
print("joined dataframe size: ", (data.count(), len(data.columns)))
data = data.join(df_name_basics_selected, "nconst", "inner")
print("joined dataframe size: ", (data.count(), len(data.columns)))

df_name_basics_selected dataframe size:  (4431583, 3)
df_title_principals_selected dataframe size:  (20849266, 4)
df_title_basic_selected dataframe size:  (9401453, 7)
joined dataframe size:  (20849266, 10)
joined dataframe size:  (20225136, 12)

## Łączymy dane na temat jednego aktora w jeden rekord

In [11]:
from pyspark.sql.functions import collect_list
from pyspark.sql.functions import first
from pyspark.sql.functions import array_distinct
from pyspark.sql.functions import min
from pyspark.sql.functions import max
data = data.groupby('nconst').agg(collect_list('tconst').alias("tconst"), collect_list('titleType').alias("titleType"), collect_list('originalTitle').alias("originalTitle"), collect_list('isAdult').alias("isAdult"), min('startYear').alias("startYear"), max('endYear').alias("endYear"), collect_list('genres').alias("genres"), first('category').alias("category"), collect_list('characters').alias("characters"), first('primaryName').alias("primaryName"), first('knownForTitles').alias("knownForTitles"))

# Wybierzmy przykładowe wiersze z końcowego dataframe'u

In [12]:
sample = data.rdd.takeSample(False, 5)

In [13]:
import pandas as pd
sample = pd.DataFrame(sample, columns = data.columns)
sample

,nconst,tconst,titleType,originalTitle,isAdult,startYear,endYear,genres,category,characters,primaryName,knownForTitles
0,nm13800744,[tt21158520],[movie],[Teaching Trauma],[0],2021,\N,[Drama],actor,"[[""Michael""]]",Mike Gray,tt21158520
1,nm3717522,"[tt5285196, tt1555102]","[tvEpisode, short]","[Histoires d'Arno, The Dress]","[0, 0]",2007,\N,"[Music, Drama,Short]",actress,"[\N, [""The Woman""]]",Céline Beigbeder,"tt5092070,tt1555102,tt5493370"
2,nm11154244,"[tt15284326, tt15284606]","[short, short]","[Suono, Happy 3irthday]","[0, 0]",2020,\N,"[Drama,Short, Short,Thriller]",actor,"[[""Tristan""], [""Brother 1""]]",Laurd Milian,"tt13694838,tt15284326,tt22177174,tt15284606"
3,nm0208264,[tt0069191],[movie],[Roma],[0],1972,\N,"[Comedy,Drama]",actress,"[[""Princess Domitilla""]]",Pia De Doses,"tt0042342,tt0032302,tt0034429,tt0069191"
4,nm0519910,"[tt1702576, tt1702577, tt1702575, tt0742060, t...","[video, video, video, tvEpisode, tvSeries, tvM...","[Pecado Sem Perdão, Pecados & Tentações, Pecad...","[1, 1, 1, 0, 0, 0, 0, 0, 0]",1991,\N,"[Adult, Adult, Adult, Thriller, Drama,Romance,...",actress,"[[""Marlene""], [""Marlene""], [""Marlene""], \N, [""...",Leila Lopes,"tt0149443,tt0138257,tt0140759,tt0289033"

# Załadowanie nowych baz

   **W celu załadowania nowych danych należy:**


1. Pobrać token API:
  * Wejść w *zespół Aktorzy* na teams
   * Wybrać zakładkę *pliki*
    * Pobrać plik *kaggle.json* - API
2. Utworzyć plik na swoim dysku pod nazwą "Big Data"
3. Wrzucić pobrane API na swój dysk
4. Uruchomić kod :)

## Wczytajmy bazę oskarów: "Best Movies Watchlist"

In [15]:
from google.colab import drive
drive.mount('/content/gdrive')

#%cd /content/gdrive/MyDrive/Big Data/kaggle.json
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/MyDrive/Big Data"

#from google.colab import drive
#drive.mount('/content/drive')
#random.seed(123456)
#np.set_printoptions(precision=6, suppress=True)

Mounted at /content/gdrive

In [16]:
! pip install kaggle
! mkdir ~/.kaggle #Utwórz katalog o nazwie „.kaggle”
! cp kaggle.json ~/.kaggle/ # Skopiuj plik „kaggle.json” do tego nowego katalogu
! chmod 600 ~/.kaggle/kaggle.json #Przydziel wymagane uprawnienia do tego pliku.

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.9.24)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
cp: cannot stat 'kaggle.json': No such file or directory
chmod: cannot access '/root/.kaggle/kaggle.json': No such file or directory

In [17]:
#import pandas as pd

! kaggle datasets download unanimad/the-oscar-award #załadujmy dane
! unzip the-oscar-award.zip #rozpakujmy z zip'a
oscars=spark.read.option("header","true").csv('the_oscar_award.csv')
#oscars=pd.read_csv('the_oscar_award.csv')
oscars.show(5)

Downloading the-oscar-award.zip to /content
  0% 0.00/191k [00:00<?, ?B/s]
100% 191k/191k [00:00<00:00, 57.8MB/s]
Archive:  the-oscar-award.zip
  inflating: the_oscar_award.csv
+---------+-------------+--------+--------+-------------------+----------------+------+
|year_film|year_ceremony|ceremony|category|               name|            film|winner|
+---------+-------------+--------+--------+-------------------+----------------+------+
|     1927|         1928|       1|   ACTOR|Richard Barthelmess|       The Noose| False|
|     1927|         1928|       1|   ACTOR|      Emil Jannings|The Last Command|  True|
|     1927|         1928|       1| ACTRESS|     Louise Dresser| A Ship Comes In| False|
|     1927|         1928|       1| ACTRESS|       Janet Gaynor|      7th Heaven|  True|
|     1927|         1928|       1| ACTRESS|     Gloria Swanson|  Sadie Thompson| False|
+---------+-------------+--------+--------+-------------------+----------------+------+
only showing top 5 rows

Main Data:
* primaryName	- aktor
* originalTitle - nazwa filmu

W nowej bazie oskarów:
* name - aktor
* film - film

## Wczytajmy bazę złotych globów: "Golden Globe Awards, 1944 - 2020"

In [18]:
! kaggle datasets download unanimad/golden-globe-awards #załadujmy dane
! unzip golden-globe-awards.zip #rozpakujmy z zip'a
globe=spark.read.option("header","true").csv('golden_globe_awards.csv')
globe.show(5)

Downloading golden-globe-awards.zip to /content
  0% 0.00/117k [00:00<?, ?B/s]
100% 117k/117k [00:00<00:00, 40.7MB/s]
Archive:  golden-globe-awards.zip
  inflating: golden_globe_awards.csv
+---------+----------+--------+--------------------+--------------------+--------------------+----+
|year_film|year_award|ceremony|            category|             nominee|                film| win|
+---------+----------+--------+--------------------+--------------------+--------------------+----+
|     1943|      1944|       1|Best Performance ...|      Katina Paxinou|For Whom The Bell...|True|
|     1943|      1944|       1|Best Performance ...|       Akim Tamiroff|For Whom The Bell...|True|
|     1943|      1944|       1|Best Director - M...|          Henry King|The Song Of Berna...|True|
|     1943|      1944|       1|             Picture|The Song Of Berna...|                null|True|
|     1943|      1944|       1|Actress In A Lead...|      Jennifer Jones|The Song Of Berna...|True|
+---------+----------+--------+--------------------+--------------------+--------------------+----+
only showing top 5 rows

## Wczytajmy bazę złotych globów: "Primetime Emmy Awards, 1949-2017"

In [19]:
! kaggle datasets download unanimad/emmy-awards #załadujmy dane
! unzip emmy-awards.zip #rozpakujmy z zip'a
emmy_awards_category=spark.read.option("header","true").csv('emmy_awards_categories.csv')
emmy_awards_category.show(5)

Downloading emmy-awards.zip to /content
  0% 0.00/904k [00:00<?, ?B/s]
100% 904k/904k [00:00<00:00, 114MB/s]
Archive:  emmy-awards.zip
  inflating: emmy_awards_categories.csv
  inflating: the_emmy_awards.csv
+------------------+--------+----+
|              name|category|role|
+------------------+--------+----+
|     Comedy Series|  Comedy|main|
|        Lead Actor|  Comedy|main|
|      Lead Actress|  Comedy|main|
|  Supporting Actor|  Comedy|main|
|Supporting Actress|  Comedy|main|
+------------------+--------+----+
only showing top 5 rows

In [20]:
emmy_awards=spark.read.option("header","true").csv('the_emmy_awards.csv')
emmy_awards.show(5)

+---+----+--------------------+--------------------+--------------------+--------+--------------------+-----+
| id|year|            category|             nominee|               staff| company|            producer|  win|
+---+----+--------------------+--------------------+--------------------+--------+--------------------+-----+
|  1|2019|Outstanding Chara...|        The Simpsons|Hank Azaria, as M...|     FOX|Gracie Films in a...|False|
|  2|2019|Outstanding Chara...|          Family Guy|Alex Borstein, as...|     FOX|20th Century Fox ...|False|
|  3|2019|Outstanding Chara...|When You Wish Upo...|Eric Jacobson, as...|     HBO|Sesame Street Wor...|False|
|  4|2019|Outstanding Chara...|     F Is For Family|Kevin Michael Ric...| Netflix|Wild West Televis...|False|
|  5|2019|Outstanding Produ...| Escape At Dannemora|Mark Ricker, Prod...|Showtime|Red Hour, Busyhan...|False|
+---+----+--------------------+--------------------+--------------------+--------+--------------------+-----+
only showing top 5 rows

## Zaczytanie danych TMDB 

   informacje o aktorach i osobach pracujących przy produkcji filmów oraz budżetach, gatunkach, popularności, wytwórniach filmowych, oryginalnyh językach i tytułach

In [21]:
#!kaggle kernels init -p tmdb/tmdb-movie-metadata #wygenerować metadane
! kaggle datasets download tmdb/tmdb-movie-metadata #załadujmy dane
! unzip tmdb-movie-metadata.zip
tmdb_credits=spark.read.option("header","true").csv('tmdb_5000_credits.csv')
tmdb_movies=spark.read.option("header","true").csv('tmdb_5000_movies.csv')

Downloading tmdb-movie-metadata.zip to /content
  0% 0.00/8.89M [00:00<?, ?B/s]
100% 8.89M/8.89M [00:00<00:00, 95.9MB/s]
Archive:  tmdb-movie-metadata.zip
  inflating: tmdb_5000_credits.csv
  inflating: tmdb_5000_movies.csv

In [22]:
tmdb_credits.show(5)

+--------+--------------------+-------------------+--------------------+
|movie_id|               title|               cast|                crew|
+--------+--------------------+-------------------+--------------------+
|   19995|              Avatar|"[{""cast_id"": 242| ""character"": "...|
|     285|Pirates of the Ca...|  "[{""cast_id"": 4| ""character"": "...|
|  206647|             Spectre|  "[{""cast_id"": 1| ""character"": "...|
|   49026|The Dark Knight R...|  "[{""cast_id"": 2| ""character"": "...|
|   49529|         John Carter|  "[{""cast_id"": 5| ""character"": "...|
+--------+--------------------+-------------------+--------------------+
only showing top 5 rows

In [23]:
tmdb_movies.show(5)

+---------+-------------+--------------------+------------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+--------------------+--------------+--------------------+--------------+--------------------+---------------+--------------------+----------------+
|   budget|       genres|            homepage|          id|            keywords|original_language|      original_title|            overview|          popularity|production_companies|production_countries|   release_date|             revenue|       runtime|    spoken_languages|        status|             tagline|          title|        vote_average|      vote_count|
+---------+-------------+--------------------+------------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+--------------------+--------------+--------------------+--------------+--------------------+---------------+--------------------+----------------+
|237000000|"[{""id"": 28| ""name"": ""Acti...| {""id"": 12| ""name"": ""Adve...|      {""id"": 14| ""name"": ""Fant...|        {""id"": 878| ""name"": ""Scie...|http://www.avatar...|               19995|"[{""id"": 1463| ""name"": ""cult...| {""id"": 2964| ""name"": ""futu...| {""id"": 3386| ""name"": ""spac...|  {""id"": 3388| ""name"": ""spac...|   {""id"": 3679|
|300000000|"[{""id"": 12| ""name"": ""Adve...| {""id"": 14| ""name"": ""Fant...|      {""id"": 28| ""name"": ""Acti...|http://disney.go....|                 285|      "[{""id"": 270| ""name"": ""ocea...|   {""id"": 726| ""name"": ""drug...|  {""id"": 911| ""name"": ""exot...| {""id"": 1319| ""name"": ""east...|  {""id"": 2038| ""name"": ""love...|   {""id"": 2052|
|245000000|"[{""id"": 28| ""name"": ""Acti...| {""id"": 12| ""name"": ""Adve...|      {""id"": 80| ""name"": ""Crim...|http://www.sonypi...|              206647|      "[{""id"": 470|  ""name"": ""spy""}|   {""id"": 818| ""name"": ""base...| {""id"": 4289| ""name"": ""secr...| {""id"": 9663| ""name"": ""sequ...| {""id"": 14555|  ""name"": ""mi6""}| {""id"": 156095|
|250000000|"[{""id"": 28| ""name"": ""Acti...| {""id"": 80| ""name"": ""Crim...|      {""id"": 18| ""name"": ""Dram...|         {""id"": 53| ""name"": ""Thri...|http://www.thedar...|               49026| "[{""id"": 849| ""name"": ""dc c...|  {""id"": 853| ""name"": ""crim...|  {""id"": 949| ""name"": ""terr...|  {""id"": 1308| ""name"": ""secr...|   {""id"": 1437|
|260000000|"[{""id"": 28| ""name"": ""Acti...| {""id"": 12| ""name"": ""Adve...|     {""id"": 878| ""name"": ""Scie...|http://movies.dis...|               49529|      "[{""id"": 818| ""name"": ""base...|   {""id"": 839| ""name"": ""mars""}| {""id"": 1456| ""name"": ""meda...| {""id"": 3801| ""name"": ""spac...|  {""id"": 7376| ""name"": ""prin...|   {""id"": 9951|
+---------+-------------+--------------------+------------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+--------------------+--------------+--------------------+--------------+--------------------+---------------+--------------------+----------------+
only showing top 5 rows

# Połączmy dane na temat nagród z głównymi danymi

Wybierzmy tylko rekordy z interesujących nas kategorii

In [24]:
oscars_selected = oscars.filter((oscars.category.like('%ACTOR%')) | (oscars.category.like('%ACTRESS%')))
globe_selected = globe.filter((globe.category.like('%Actor%')) | (globe.category.like('%Actress%')))

In [25]:
actor_categories = ['Outstanding Lead Actor in a Comedy Series', 'Outstanding Lead Actor in a Drama Series', 'Outstanding Lead Actor in a Limited or Anthology Series or Movie', 'Outstanding Lead Actress in a Comedy Series', 'Outstanding Lead Actress in a Drama Series', 'Outstanding Lead Actress in a Limited or Anthology Series or Movie', 'Outstanding Supporting Actor in a Comedy Series', 'Outstanding Supporting Actor in a Drama Series', 'Outstanding Supporting Actor in a Limited or Anthology Series or Movie', 'Outstanding Supporting Actress in a Comedy Series', 'Outstanding Supporting Actress in a Drama Series', 'Outstanding Supporting Actress in a Limited or Anthology Series or Movie', 'Outstanding Character Voice-Over Performance', 'Outstanding Guest Actor in a Drama Series', 'Outstanding Guest Actor in a Comedy Series', 'Outstanding Guest Actress in a Drama Series', 'Outstanding Guest Actress in a Comedy Series', 'Outstanding Narrator', 'Outstanding Actor in a Short Form Comedy or Drama Series', 'Outstanding Actress in a Short Form Comedy or Drama Series', 'Best Specialty Act – Single or Group', 'Outstanding Voice-Over Performance', 'Outstanding Sports Personality', 'Most Outstanding Live Personality', 'Most Outstanding Kinescoped Personality']
emmy_awards_selected = emmy_awards.filter(emmy_awards.category.isin(actor_categories))

Przygotujmy dane z tabeli emmy_awards_selected do połączenia (wybieramy tylko imię i nazwisko aktora z kolumny staff)

In [26]:
from pyspark.sql.functions import split, explode
emmy_awards_selected = emmy_awards_selected.withColumn('staff',explode(split('staff',', ')))
emmy_awards_selected = emmy_awards_selected.groupby('nominee', 'staff').agg(first('id').alias('id'), first('year').alias('year'), first('category').alias('category'), first('nominee').alias('nominee'), first('staff').alias('staff'), first('company').alias('company'), first('producer').alias('producer'), first('win').alias('win'))

Wybierzmy tylko kolumny, które nas interesują z danych na temat nagród

In [27]:
oscars_selected = oscars.select(["year_ceremony", "category", "name", "film", "winner"])
globe_selected = globe.select(["year_award", "category", "nominee", "film", "win"])
emmy_awards_selected = emmy_awards.select(["year", "category", "nominee", "staff", "company", "producer", "win"])

Zmieńmy nazwy kolumn, aby wiadomo było po połączeniu, któe dane odnoszą się do których nagród

In [28]:
oscars_selected = oscars_selected.withColumnRenamed("year_ceremony","year_oscars").withColumnRenamed("category","category_oscars").withColumnRenamed("film","film_oscars").withColumnRenamed("winner","winner_oscars")

globe_selected = globe_selected.withColumnRenamed("year_award","year_globes").withColumnRenamed("category","category_globes").withColumnRenamed("film","film_globes").withColumnRenamed("win","win_globes")

emmy_awards_selected = emmy_awards_selected.withColumnRenamed("year","year_emmy").withColumnRenamed("category","category_emmy").withColumnRenamed("nominee","nominee_emmy").withColumnRenamed("company","company_emmy").withColumnRenamed("producer","producer_emmy").withColumnRenamed("win","win_emmy")

Złączmy dane dotyczące nagród z głównymi danymi

In [29]:
print("data dataframe size: ", (data.count(), len(data.columns)))
print("oscars_selected dataframe size: ", (oscars_selected.count(), len(oscars_selected.columns)))
print("globe_selected dataframe size: ", (globe_selected.count(), len(globe_selected.columns)))
print("emmy_awards_selected dataframe size: ", (emmy_awards_selected.count(), len(emmy_awards_selected.columns)))
data = data.join(oscars_selected, data.primaryName == oscars_selected.name, "left")
print("joined dataframe size: ", (data.count(), len(data.columns)))
data = data.join(globe_selected, data.primaryName == globe_selected.nominee, "left")
print("joined dataframe size: ", (data.count(), len(data.columns)))
data = data.join(emmy_awards_selected, data.primaryName == emmy_awards_selected.staff, "left")
print("joined dataframe size: ", (data.count(), len(data.columns)))

data dataframe size:  (2057627, 12)
oscars_selected dataframe size:  (10395, 5)
globe_selected dataframe size:  (7991, 5)
emmy_awards_selected dataframe size:  (21506, 7)
joined dataframe size:  (2060918, 17)
joined dataframe size:  (2093383, 22)
joined dataframe size:  (2093383, 29)

In [30]:
data = data.groupby('nconst').agg(first('tconst').alias("tconst"), first('titleType').alias("titleType"), first('originalTitle').alias("originalTitle"), first('isAdult').alias("isAdult"), first('startYear').alias("startYear"), first('endYear').alias("endYear"), first('genres').alias("genres"), first('category').alias("category"), first('characters').alias("characters"), first('primaryName').alias("primaryName"), first('knownForTitles').alias("knownForTitles"), array_distinct(collect_list('year_oscars')).alias("year_oscars"), first('category_oscars').alias("category_oscars"), array_distinct(collect_list('film_oscars')).alias("film_oscars"), array_distinct(collect_list('winner_oscars')).alias("winner_oscars"), array_distinct(collect_list('year_globes')).alias("year_globes"), array_distinct(collect_list('category_globes')).alias("category_globes"), array_distinct(collect_list('film_globes')).alias("film_globes"), array_distinct(collect_list('win_globes')).alias("win_globes"))

Pokażmy kilka przykłądowych wierszy ostatecznej tabeli

In [31]:
sample = data.rdd.takeSample(False, 5)

In [32]:
sample = pd.DataFrame(sample, columns = data.columns)
sample

,nconst,tconst,titleType,originalTitle,isAdult,startYear,endYear,genres,category,characters,primaryName,knownForTitles,year_oscars,category_oscars,film_oscars,winner_oscars,year_globes,category_globes,film_globes,win_globes
0,nm2059740,[tt0483418],[short],[Kiitos tanssista],[0],2005,\N,"[Comedy,Short]",actress,"[[""Pirkko""]]",Tanja Severikangas,tt0483418,[],None,[],[],[],[],[],[]
1,nm4204849,"[tt22044686, tt22258958]","[tvMiniSeries, tvEpisode]","[Maid's Revenge, Episode #1.2]","[0, 0]",2022,\N,"[Drama, Drama]",actor,"[[""General Liu""], [""General Liu""]]",Hu Xi Fan,"tt22044686,tt1463208",[],None,[],[],[],[],[],[]
2,nm6642339,"[tt2374617, tt3848612, tt3848606, tt3848616, t...","[tvSeries, tvEpisode, tvEpisode, tvEpisode, tv...","[Xtreme Waterparks, Getting Wet in Summer Camp...","[0, 0, 0, 0, 0, 0]",2012,\N,"[Reality-TV, Reality-TV, Reality-TV, Reality-T...",actor,"[[""Narrator""], [""Narrator""], [""Narrator""], [""N...",Scott Taylor,tt2374617,[],None,[],[],[],[],[],[]
3,nm5877847,[tt7319238],[short],[Regression],[0],2017,\N,"[Mystery,Short,Thriller]",actor,"[[""The Miracle""]]",Jeremy Preston,"tt3105662,tt18450678,tt2931148,tt3220528",[],None,[],[],[],[],[],[]
4,nm1029587,[tt2059188],[movie],[Bayan o pag-ibig],[0],1951,\N,"[Action,Drama]",actor,[\N],Armando Garces,"tt0370847,tt0791561,tt0376059,tt0359625",[],None,[],[],[],[],[],[]