<a href="https://colab.research.google.com/github/PiotrMaciejKowalski/BigData2022-actors/blob/czasy-joinow/colabs/Wczytanie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Setup sparka

##Setup sparka

In [12]:
!pip install pyspark py4j
!pip install -q findspark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget ftp://ftp.ps.pl/pub/apache/spark/spark-3.3.1/spark-3.3.1-bin-hadoop2.tgz
!tar xf spark-3.3.1-bin-hadoop2.tgz

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.1)
Requirement already satisfied: py4j in /usr/local/lib/python3.7/dist-packages (0.10.9.5)
--2022-11-20 19:01:53--  ftp://ftp.ps.pl/pub/apache/spark/spark-3.3.1/spark-3.3.1-bin-hadoop2.tgz
           => ‘spark-3.3.1-bin-hadoop2.tgz.1’
Resolving ftp.ps.pl (ftp.ps.pl)... 212.14.28.36, 2001:4c58:62:2::36
Connecting to ftp.ps.pl (ftp.ps.pl)|212.14.28.36|:21... connected.
Logging in as anonymous ... Logged in!
==> SYST ... done.    ==> PWD ... done.
==> TYPE I ... done.  ==> CWD (1) /pub/apache/spark/spark-3.3.1 ... done.
==> SIZE spark-3.3.1-bin-hadoop2.tgz ... 274099817
==> PASV ... done.    ==> RETR spark-3.3.1-bin-hadoop2.tgz ... done.
Length: 274099817 (261M) (unauthoritative)

spark-3.3.1-bin-had 100%[===================>] 261.40M  68.8MB/s    in 3.9s

2022-11-20 19:01:57 (67.3 MB/s) - ‘spark-3.3.1-bin-hadoop2.tgz.1’ saved [274099817]

In [13]:
import pyspark
import findspark
from pyspark.sql import SparkSession
import os

In [14]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop2"
spark=SparkSession.builder.appName('Colab').getOrCreate()
spark

#Pobranie danych

##Import danych

In [15]:
!wget https://datasets.imdbws.com/name.basics.tsv.gz
!wget https://datasets.imdbws.com/title.akas.tsv.gz
!wget https://datasets.imdbws.com/title.basics.tsv.gz
!wget https://datasets.imdbws.com/title.crew.tsv.gz
!wget https://datasets.imdbws.com/title.episode.tsv.gz
!wget https://datasets.imdbws.com/title.principals.tsv.gz
!wget https://datasets.imdbws.com/title.ratings.tsv.gz

--2022-11-20 19:02:07--  https://datasets.imdbws.com/name.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.66.147.50, 18.66.147.59, 18.66.147.89, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.66.147.50|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 236619296 (226M) [binary/octet-stream]
Saving to: ‘name.basics.tsv.gz.1’

name.basics.tsv.gz. 100%[===================>] 225.66M  80.1MB/s    in 2.8s

2022-11-20 19:02:10 (80.1 MB/s) - ‘name.basics.tsv.gz.1’ saved [236619296/236619296]

--2022-11-20 19:02:10--  https://datasets.imdbws.com/title.akas.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.66.147.50, 18.66.147.59, 18.66.147.89, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.66.147.50|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 287876715 (275M) [binary/octet-stream]
Saving to: ‘title.akas.tsv.gz.1’

title.akas.tsv.gz.1 100%[===================>] 274.54M  81.5MB/s    in 3.5s

2022-11-20 19:02:14 (78.1 MB/s) - ‘title.akas.tsv.gz.1’ saved [287876715/287876715]

--2022-11-20 19:02:14--  https://datasets.imdbws.com/title.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.66.147.50, 18.66.147.59, 18.66.147.89, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.66.147.50|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 164033841 (156M) [binary/octet-stream]
Saving to: ‘title.basics.tsv.gz.1’

title.basics.tsv.gz 100%[===================>] 156.43M  69.3MB/s    in 2.3s

2022-11-20 19:02:16 (69.3 MB/s) - ‘title.basics.tsv.gz.1’ saved [164033841/164033841]

--2022-11-20 19:02:16--  https://datasets.imdbws.com/title.crew.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.66.147.50, 18.66.147.59, 18.66.147.89, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.66.147.50|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 62962339 (60M) [binary/octet-stream]
Saving to: ‘title.crew.tsv.gz.1’

title.crew.tsv.gz.1 100%[===================>]  60.04M  64.7MB/s    in 0.9s

2022-11-20 19:02:17 (64.7 MB/s) - ‘title.crew.tsv.gz.1’ saved [62962339/62962339]

--2022-11-20 19:02:17--  https://datasets.imdbws.com/title.episode.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.66.147.50, 18.66.147.59, 18.66.147.89, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.66.147.50|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 38580514 (37M) [binary/octet-stream]
Saving to: ‘title.episode.tsv.gz.1’

title.episode.tsv.g 100%[===================>]  36.79M  42.5MB/s    in 0.9s

2022-11-20 19:02:18 (42.5 MB/s) - ‘title.episode.tsv.gz.1’ saved [38580514/38580514]

--2022-11-20 19:02:18--  https://datasets.imdbws.com/title.principals.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.66.147.50, 18.66.147.59, 18.66.147.89, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.66.147.50|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 417775277 (398M) [binary/octet-stream]
Saving to: ‘title.principals.tsv.gz.1’

title.principals.ts 100%[===================>] 398.42M  74.8MB/s    in 5.6s

2022-11-20 19:02:24 (70.6 MB/s) - ‘title.principals.tsv.gz.1’ saved [417775277/417775277]

--2022-11-20 19:02:24--  https://datasets.imdbws.com/title.ratings.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.66.147.50, 18.66.147.59, 18.66.147.89, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.66.147.50|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6272687 (6.0M) [binary/octet-stream]
Saving to: ‘title.ratings.tsv.gz.1’

title.ratings.tsv.g 100%[===================>]   5.98M  16.2MB/s    in 0.4s

2022-11-20 19:02:25 (16.2 MB/s) - ‘title.ratings.tsv.gz.1’ saved [6272687/6272687]

##Rozpakowanie danych

In [16]:
!gzip -dc /content/name.basics.tsv.gz > name.basics.csv
!gzip -dc /content/title.akas.tsv.gz > title.akas.csv
!gzip -dc /content/title.basics.tsv.gz > title.basic.csv
!gzip -dc /content/title.crew.tsv.gz > title.crew.csv
!gzip -dc /content/title.episode.tsv.gz > title.episode.csv
!gzip -dc /content/title.principals.tsv.gz > title.principals.csv
!gzip -dc /content/title.ratings.tsv.gz > title.ratings.csv

#Wczytanie danych

##Wczytajmy dane z rozpakowanych plików

In [17]:
df_name_basics=spark.read.option("header", "true").option("delimiter", "\t").csv('name.basics.csv' ) 
df_title_akas=spark.read.option("header","true").option("delimiter", "\t").csv('title.akas.csv')
df_title_basic=spark.read.option("header","true").option("delimiter", "\t").csv('title.basic.csv')
df_title_crew=spark.read.option("header","true").option("delimiter", "\t").csv('title.crew.csv')
df_title_episode=spark.read.option("header","true").option("delimiter","\t").csv('title.episode.csv')
df_title_principals=spark.read.option("header","true").option("delimiter","\t").csv('title.principals.csv')
df_title_ratings=spark.read.option("header","true").option("delimiter","\t").csv('title.ratings.csv')

##Wyświetlmy dane

In [18]:
df_name_basics.show(3)
df_title_akas.show(3)
df_title_basic.show(3)
df_title_crew.show(3)
df_title_episode.show(3)
df_title_principals.show(3)
df_title_ratings.show(3)

+---------+---------------+---------+---------+--------------------+--------------------+
|   nconst|    primaryName|birthYear|deathYear|   primaryProfession|      knownForTitles|
+---------+---------------+---------+---------+--------------------+--------------------+
|nm0000001|   Fred Astaire|     1899|     1987|soundtrack,actor,...|tt0031983,tt00504...|
|nm0000002|  Lauren Bacall|     1924|     2014|  actress,soundtrack|tt0038355,tt01170...|
|nm0000003|Brigitte Bardot|     1934|       \N|actress,soundtrac...|tt0049189,tt00544...|
+---------+---------------+---------+---------+--------------------+--------------------+
only showing top 3 rows

+---------+--------+--------------------+------+--------+-----------+-------------+---------------+
|  titleId|ordering|               title|region|language|      types|   attributes|isOriginalTitle|
+---------+--------+--------------------+------+--------+-----------+-------------+---------------+
|tt0000001|       1|          Карменсіта|    UA|      \N|imdbDisplay|           \N|              0|
|tt0000001|       2|          Carmencita|    DE|      \N|         \N|literal title|              0|
|tt0000001|       3|Carmencita - span...|    HU|      \N|imdbDisplay|           \N|              0|
+---------+--------+--------------------+------+--------+-----------+-------------+---------------+
only showing top 3 rows

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 3 rows

+---------+---------+-------+
|   tconst|directors|writers|
+---------+---------+-------+
|tt0000001|nm0005690|     \N|
|tt0000002|nm0721526|     \N|
|tt0000003|nm0721526|     \N|
+---------+---------+-------+
only showing top 3 rows

+---------+------------+------------+-------------+
|   tconst|parentTconst|seasonNumber|episodeNumber|
+---------+------------+------------+-------------+
|tt0041951|   tt0041038|           1|            9|
|tt0042816|   tt0989125|           1|           17|
|tt0042889|   tt0989125|          \N|           \N|
+---------+------------+------------+-------------+
only showing top 3 rows

+---------+--------+---------+---------------+--------------------+----------+
|   tconst|ordering|   nconst|       category|                 job|characters|
+---------+--------+---------+---------------+--------------------+----------+
|tt0000001|       1|nm1588970|           self|                  \N|  ["Self"]|
|tt0000001|       2|nm0005690|       director|                  \N|        \N|
|tt0000001|       3|nm0374658|cinematographer|director of photo...|        \N|
+---------+--------+---------+---------------+--------------------+----------+
only showing top 3 rows

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000001|          5.7|    1923|
|tt0000002|          5.8|     259|
|tt0000003|          6.5|    1737|
+---------+-------------+--------+
only showing top 3 rows

# Złączenie istotnych kolumn

## Wybierzmy z tabel tylko istotne rekordy:
- df_title_basic: wybierzmy tylko rekordy z primaryProfession zawierającym "actor" lub "actress",
- df_title_principals: wybierzmy rekordy z category zawierającym "actor" lub "actress".

In [19]:
df_name_basics_selected = df_name_basics.filter("primaryProfession like '%actor%' or primaryProfession like '%actress%'")
df_title_principals_selected = df_title_principals.filter((df_title_principals.category == "actor") | (df_title_principals.category == "actress"))

## Wybierzmy następujące kolumny z tabel:
- df_title_basic:
  - tconst (unikalny numer tytułu - potrzebne do złączenia tabel)
  - titleType (rodzaj tytułu, np. film, serial - można porównywać podobieństwo aktorów na podstawie tego w jakich typach produkcji grali)
  - originalTitle (tytuł produkcji - być może przyda się do analizy podobnych filmów)
  - isAdult (czy produkcja jest dla dorosłych - można wykorzystać do porównywania aktorów na podstawie tego czy grają głównie w produkcjach dla dorosłych)
  - genres (gatunki - może posłużyć do porównania aktorów na podstawie tego, że grali w produkcjach o podobnych gatunkach)

- df_title_principals:
  - tconst (unikalny numer tytułu - potrzebne do złączenia tabel)
  - nconst (unikalny numer aktora - potrzebne do złączenia tabel)
  - category (kategoria pracy (actor/actress) - może posłużyć do porównania aktorów na podstawie takiej samej płci)
  - characters (postacie zagrane w produkcji - może posłużyć do porównania aktorów na podstawie podobnych granych postaci)

- df_name_basics:
  - nconst(unikalny numer aktora - potrzebne do złączenia tabel)
  - primaryName (imię i nazwisko aktora - potrzebne do wyświetlania aktora lub do odnajdywania go w bazie po imieniu i nazwisku)
  - birthYear (rok urodzenia aktora - może posłużyć do porównania aktorów na podstawie podobnych okresów, w których żyli i grali)
  - deathYear ( rok śmierci aktora - może posłużyć do porównania aktorów na podstawie podobnych okresów, w których żyli i grali)
  - knownForTitles (tytuły produkcji, z których znany jets aktor - może posłużyć do porównania aktorów na podstawie tych samych lub podobnych produkcji, z których są znani)

In [20]:
df_title_basic_selected = df_title_basic.select(["tconst", "titleType", "originalTitle", "isAdult", "genres"])
df_title_principals_selected = df_title_principals_selected.select(["tconst", "nconst", "category", "characters"])
df_name_basics_selected = df_name_basics_selected.select(["nconst", "primaryName", "birthYear", "deathYear", "knownForTitles"])

# Złączmy tabele df_name_basics, df_title_principals i df_title_basic

In [21]:
print("df_name_basics_selected dataframe size: ", (df_name_basics_selected.count(), len(df_name_basics_selected.columns)))
print("df_title_principals_selected dataframe size: ", (df_title_principals_selected.count(), len(df_title_principals_selected.columns)))
print("df_title_basic_selected dataframe size: ", (df_title_basic_selected.count(), len(df_title_basic_selected.columns)))
data = df_title_basic_selected.join(df_title_principals_selected, "tconst", "right")
print("joined dataframe size: ", (data.count(), len(data.columns)))
data = data.join(df_name_basics_selected, "nconst", "inner")
print("joined dataframe size: ", (data.count(), len(data.columns)))

df_name_basics_selected dataframe size:  (4426315, 5)
df_title_principals_selected dataframe size:  (20798916, 4)
df_title_basic_selected dataframe size:  (9384224, 5)
joined dataframe size:  (20798916, 8)
joined dataframe size:  (20175420, 12)

# Wybierzmy przykładowe wiersze z końcowego dataframe'u

In [22]:
sample = data.rdd.takeSample(False, 5)

In [23]:
import pandas as pd
sample = pd.DataFrame(sample, columns = data.columns)
sample

,nconst,tconst,titleType,originalTitle,isAdult,genres,category,characters,primaryName,birthYear,deathYear,knownForTitles
0,nm0112387,tt0533157,tvEpisode,The Money Man,0,Western,actress,"[""Annie O'Connell""]",Sallie Brophy,1928,2007,"tt0052442,tt0046637,tt0054743,tt0050457"
1,nm12628734,tt14768736,short,The News Desk,0,"Drama,Short",actor,"[""Nick Rossi""]",Joey D'Amico,\N,\N,"tt14768736,tt14824522,tt15138464,tt15162600"
2,nm0005037,tt0295208,video,Dead or Alive: Rip It Up Live,0,"Documentary,Music",actor,"[""Dancer""]",James Hyde,1962,\N,"tt0192917,tt9730822,tt8655736,tt10953370"
3,nm0695413,tt0455068,tvSeries,Ein verrücktes Paar,0,\N,actor,\N,Kurt Pratsch-Kaufmann,1906,1988,"tt3795936,tt0052632,tt0047054,tt0077049"
4,nm2794605,tt1963394,tvEpisode,Olivia Pack Up,0,"Animation,Family",actor,"[""Julian""]",Jeremy Herzig,\N,\N,"tt1092018,tt1737798,tt2256407,tt1458518"