<a href="https://colab.research.google.com/github/PiotrMaciejKowalski/BigData2022-actors/blob/CU-30u4v4d_Analiza-wizualizacja/colabs/Wizualizacje_analiza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
!git clone https://github.com/PiotrMaciejKowalski/BigData2022-actors.git
!mv /content/BigData2022-actors/* .
!mv /content/BigData2022-actors/.* .
!rmdir /content/BigData2022-actors/

Cloning into 'BigData2022-actors'...
remote: Enumerating objects: 711, done.
remote: Counting objects: 100% (195/195), done.
remote: Compressing objects: 100% (147/147), done.
remote: Total 711 (delta 118), reused 59 (delta 48), pack-reused 516
Receiving objects: 100% (711/711), 5.77 MiB | 26.14 MiB/s, done.
Resolving deltas: 100% (358/358), done.
mv: cannot move '/content/BigData2022-actors/.' to './.': Device or resource busy
mv: cannot move '/content/BigData2022-actors/..' to './..': Device or resource busy

In [6]:
!git checkout Refactoring

Branch 'Refactoring' set up to track remote branch 'Refactoring' from 'origin'.
Switched to a new branch 'Refactoring'

In [7]:
!chmod +x setup_sparka.sh
!./setup_sparka.sh

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 41 kB/s
Collecting py4j
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     |████████████████████████████████| 200 kB 32.6 MB/s
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 13.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=0a1475f2d0aa5e1fe51af3e14097837a6098a6f3729dd27e056e735f5edf21e0
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1
--2022-12-13 19:42:45--  https://dlcdn.apache.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop2.tgz
Resolving dlcdn.apache.org (dlcdn.apache.org)... 151.101.2.132, 2a04:4e42::644
Connecting to dlcdn.apache.org (dlcdn.apache.org)|151.101.2.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 274099817 (261M) [application/x-gzip]
Saving to: ‘spark-3.3.1-bin-hadoop2.tgz’

spark-3.3.1-bin-had 100%[===================>] 261.40M   210MB/s    in 1.2s

2022-12-13 19:42:47 (210 MB/s) - ‘spark-3.3.1-bin-hadoop2.tgz’ saved [274099817/274099817]

In [8]:
from lib.pyspark_init import create_spark_context, add_kaggle_data
from lib.const import JOINED_DATA, DATA_WITH_AWARDS

In [9]:
spark = create_spark_context()
spark

In [10]:
%%time
data = spark.read.parquet(JOINED_DATA)
data.show()

+---------+--------------------+--------------------+--------------------+--------------------+---------+-------+--------------------+--------+--------------------+--------------------+--------------------+
|   nconst|              tconst|           titleType|       originalTitle|             isAdult|startYear|endYear|              genres|category|          characters|         primaryName|      knownForTitles|
+---------+--------------------+--------------------+--------------------+--------------------+---------+-------+--------------------+--------+--------------------+--------------------+--------------------+
|nm0000017|[tt0021156, tt001...|[movie, movie, mo...|[Morocco, Gefahre...|[0, 0, 0, 0, 0, 0...|     1919|     \N|[Drama,Romance, C...| actress|[["Mademoiselle A...|    Marlene Dietrich|tt0051201,tt00211...|
|nm0000051|[tt0028417, tt002...|[movie, movie, mo...|[Troubled Waters,...|[0, 0, 0, 0, 0, 0...|     1935|     \N|[Crime,Mystery, C...|   actor|[["John Merriman"...|         James Mason|tt0047522,tt00531...|
|nm0000149|[tt0070611, tt078...|[tvEpisode, tvEpi...|[Rookie of the Ye...|[0, 0, 0, 0, 0, 0...|     1969|     \N|[Adventure,Comedy...| actress|[["Sharon Lee"], ...|        Jodie Foster|tt0075314,tt01029...|
|nm0000156|[tt0275140, tt009...|[tvSeries, movie,...|[Law & Order: Cri...|[0, 0, 0, 0, 0, 0...|     1977|     \N|[Crime,Drama,Myst...|   actor|[["Detective Zack...|       Jeff Goldblum|tt0116629,tt00910...|
|nm0000205|[tt0295238, tt044...|[movie, movie, mo...|[Personal Velocit...|[0, 0, 0, 0, 0, 0...|     1991|     \N|[Drama,Romance, A...| actress|[["Greta Herskowi...|        Parker Posey|tt0348150,tt03590...|
|nm0000249|[tt0268808, tt011...|[tvMiniSeries, mo...|[Founding Fathers...|[0, 0, 0, 0, 0, 0...|     1972|     \N|[Documentary,Hist...|   actor|[["John Adams"], ...|         James Woods|tt0086541,tt01192...|
|nm0000262|[tt0086374, tt009...|[movie, movie, mo...|[Strange Invaders...|[0, 0, 0, 0, 0, 0...|     1976|     \N|[Horror,Mystery,S...| actress|[["Betty Walker"]...|         Nancy Allen|tt0093870,tt00806...|
|nm0000281|[tt0111909, tt009...|[tvSeries, movie,...|[Can't Hurry Love...|[0, 0, 0, 0, 0, 0...|     1974|     \N|[Comedy, Comedy,D...|   actor|[["Matt"], ["Mari...|          Scott Baio|tt0367279,tt02816...|
|nm0000283|[tt0095142, tt010...|[tvMovie, movie, ...|[A Father's Homec...|[0, 0, 0, 0, 0, 0...|     1987|     \N|[Adventure,Drama,...| actress|[["Nurse Pitzer"]...|        Brenda Bakke|tt0107144,tt01194...|
|nm0000305|[tt0029421, tt002...|[short, short, sh...|[Porky and Gabby,...|[0, 0, 0, 0, 0, 0...|     1930|     \N|[Animation,Comedy...|   actor|[["Porky Pig","Ga...|           Mel Blanc|tt0303804,tt00949...|
|nm0000307|[tt1049536, tt009...|[tvEpisode, tvEpi...|[The Way to Satti...|[0, 0, 0, 0, 0, 0...|     1985|     \N|[Family,Fantasy, ...| actress|[["Storyteller"],...|Helena Bonham Carter|tt0408236,tt01375...|
|nm0000348|[tt0044970, tt005...|[movie, movie, mo...|[No Room for the ...|[0, 0, 0, 0, 0, 0...|     1949|     \N|[Comedy, Drama,Fi...|   actor|[["Alvah Morrell"...|         Tony Curtis|tt0051036,tt00543...|
|nm0000398|[tt0078856, tt005...|[movie, tvSeries,...|[Beyond the Posei...|[0, 0, 0, 0, 0, 0...|     1965|     \N|[Action,Adventure...| actress|[["Celeste Whitma...|         Sally Field|tt0098384,tt00767...|
|nm0000409|[tt0114099, tt104...|[movie, tvEpisode...|[The Passion of D...|[0, 0, 0, 0, 0, 0...|     1991|     \N|[Drama,Mystery,Th...|   actor|[["Darkly Noon"],...|      Brendan Fraser|tt0120616,tt02091...|
|nm0000483|[tt0098122, tt009...|[movie, movie, mo...|[Love Dream, To K...|[0, 0, 0, 0, 0, 0...|     1984|     \N|[Drama,Fantasy,Ro...|   actor|[["Menrou"], ["Fa...| Christopher Lambert|tt0106950,tt01138...|
|nm0000588|[tt0129866, tt013...|[tvMovie, short, ...|[The Defenders: P...|[0, 0, 0, 0, 0, 0...|     1984|     \N|[Crime,Drama, Com...| actress|[["M.J. Preston"]...|     Martha Plimpton|tt0098067,tt00915...|
|nm0000593|[tt0113865, tt068...|[movie, tvEpisode...|[Mrs. Munck, The ...|[0, 0, 0, 0, 0, 0...|     1983|     \N|[Comedy,Drama, Ac...| actress|[["Young Rose"], ...|       Kelly Preston|tt0185183,tt02867...|
|nm0000609|[tt0279331, tt109...|[movie, movie, tv...|[Dark Blue, The G...|[0, 0, 0, 0, 0, 0...|     1988|     \N|[Crime,Drama,Thri...|   actor|[["Arthur Holland...|         Ving Rhames|tt0120755,tt03179...|
|nm0000646|[tt0539159, tt053...|[tvEpisode, tvEpi...|[Angel Flight, An...|[0, 0, 0, 0, 0, 0...|     1974|     \N|[Action,Adventure...| actress|[["Kelly Garrett"...|        Jaclyn Smith|tt0065374,tt00812...|
|nm0000651|[tt15161988, tt00...|[tvEpisode, movie...|[The Caretaker, P...|[0, 0, 0, 0, 0, 0...|     1972|     \N|[Adventure,Drama,...| actress|[["Irene York"], ...|        Sissy Spacek|tt1454029,tt00742...|
+---------+--------------------+--------------------+--------------------+--------------------+---------+-------+--------------------+--------+--------------------+--------------------+--------------------+
only showing top 20 rows

CPU times: user 105 ms, sys: 21.2 ms, total: 126 ms
Wall time: 14.9 s

In [12]:
data.createOrReplaceTempView('data')

In [14]:
spark.sql('select* from data').show()
spark.sql("""select min(startYear), max(endYear) from data""").show()

+---------+--------------------+--------------------+--------------------+--------------------+---------+-------+--------------------+--------+--------------------+--------------------+--------------------+
|   nconst|              tconst|           titleType|       originalTitle|             isAdult|startYear|endYear|              genres|category|          characters|         primaryName|      knownForTitles|
+---------+--------------------+--------------------+--------------------+--------------------+---------+-------+--------------------+--------+--------------------+--------------------+--------------------+
|nm0000017|[tt0021156, tt001...|[movie, movie, mo...|[Morocco, Gefahre...|[0, 0, 0, 0, 0, 0...|     1919|     \N|[Drama,Romance, C...| actress|[["Mademoiselle A...|    Marlene Dietrich|tt0051201,tt00211...|
|nm0000051|[tt0028417, tt002...|[movie, movie, mo...|[Troubled Waters,...|[0, 0, 0, 0, 0, 0...|     1935|     \N|[Crime,Mystery, C...|   actor|[["John Merriman"...|         James Mason|tt0047522,tt00531...|
|nm0000149|[tt0070611, tt078...|[tvEpisode, tvEpi...|[Rookie of the Ye...|[0, 0, 0, 0, 0, 0...|     1969|     \N|[Adventure,Comedy...| actress|[["Sharon Lee"], ...|        Jodie Foster|tt0075314,tt01029...|
|nm0000156|[tt0275140, tt009...|[tvSeries, movie,...|[Law & Order: Cri...|[0, 0, 0, 0, 0, 0...|     1977|     \N|[Crime,Drama,Myst...|   actor|[["Detective Zack...|       Jeff Goldblum|tt0116629,tt00910...|
|nm0000205|[tt0295238, tt044...|[movie, movie, mo...|[Personal Velocit...|[0, 0, 0, 0, 0, 0...|     1991|     \N|[Drama,Romance, A...| actress|[["Greta Herskowi...|        Parker Posey|tt0348150,tt03590...|
|nm0000249|[tt0268808, tt011...|[tvMiniSeries, mo...|[Founding Fathers...|[0, 0, 0, 0, 0, 0...|     1972|     \N|[Documentary,Hist...|   actor|[["John Adams"], ...|         James Woods|tt0086541,tt01192...|
|nm0000262|[tt0086374, tt009...|[movie, movie, mo...|[Strange Invaders...|[0, 0, 0, 0, 0, 0...|     1976|     \N|[Horror,Mystery,S...| actress|[["Betty Walker"]...|         Nancy Allen|tt0093870,tt00806...|
|nm0000281|[tt0111909, tt009...|[tvSeries, movie,...|[Can't Hurry Love...|[0, 0, 0, 0, 0, 0...|     1974|     \N|[Comedy, Comedy,D...|   actor|[["Matt"], ["Mari...|          Scott Baio|tt0367279,tt02816...|
|nm0000283|[tt0095142, tt010...|[tvMovie, movie, ...|[A Father's Homec...|[0, 0, 0, 0, 0, 0...|     1987|     \N|[Adventure,Drama,...| actress|[["Nurse Pitzer"]...|        Brenda Bakke|tt0107144,tt01194...|
|nm0000305|[tt0029421, tt002...|[short, short, sh...|[Porky and Gabby,...|[0, 0, 0, 0, 0, 0...|     1930|     \N|[Animation,Comedy...|   actor|[["Porky Pig","Ga...|           Mel Blanc|tt0303804,tt00949...|
|nm0000307|[tt1049536, tt009...|[tvEpisode, tvEpi...|[The Way to Satti...|[0, 0, 0, 0, 0, 0...|     1985|     \N|[Family,Fantasy, ...| actress|[["Storyteller"],...|Helena Bonham Carter|tt0408236,tt01375...|
|nm0000348|[tt0044970, tt005...|[movie, movie, mo...|[No Room for the ...|[0, 0, 0, 0, 0, 0...|     1949|     \N|[Comedy, Drama,Fi...|   actor|[["Alvah Morrell"...|         Tony Curtis|tt0051036,tt00543...|
|nm0000398|[tt0078856, tt005...|[movie, tvSeries,...|[Beyond the Posei...|[0, 0, 0, 0, 0, 0...|     1965|     \N|[Action,Adventure...| actress|[["Celeste Whitma...|         Sally Field|tt0098384,tt00767...|
|nm0000409|[tt0114099, tt104...|[movie, tvEpisode...|[The Passion of D...|[0, 0, 0, 0, 0, 0...|     1991|     \N|[Drama,Mystery,Th...|   actor|[["Darkly Noon"],...|      Brendan Fraser|tt0120616,tt02091...|
|nm0000483|[tt0098122, tt009...|[movie, movie, mo...|[Love Dream, To K...|[0, 0, 0, 0, 0, 0...|     1984|     \N|[Drama,Fantasy,Ro...|   actor|[["Menrou"], ["Fa...| Christopher Lambert|tt0106950,tt01138...|
|nm0000588|[tt0129866, tt013...|[tvMovie, short, ...|[The Defenders: P...|[0, 0, 0, 0, 0, 0...|     1984|     \N|[Crime,Drama, Com...| actress|[["M.J. Preston"]...|     Martha Plimpton|tt0098067,tt00915...|
|nm0000593|[tt0113865, tt068...|[movie, tvEpisode...|[Mrs. Munck, The ...|[0, 0, 0, 0, 0, 0...|     1983|     \N|[Comedy,Drama, Ac...| actress|[["Young Rose"], ...|       Kelly Preston|tt0185183,tt02867...|
|nm0000609|[tt0279331, tt109...|[movie, movie, tv...|[Dark Blue, The G...|[0, 0, 0, 0, 0, 0...|     1988|     \N|[Crime,Drama,Thri...|   actor|[["Arthur Holland...|         Ving Rhames|tt0120755,tt03179...|
|nm0000646|[tt0539159, tt053...|[tvEpisode, tvEpi...|[Angel Flight, An...|[0, 0, 0, 0, 0, 0...|     1974|     \N|[Action,Adventure...| actress|[["Kelly Garrett"...|        Jaclyn Smith|tt0065374,tt00812...|
|nm0000651|[tt15161988, tt00...|[tvEpisode, movie...|[The Caretaker, P...|[0, 0, 0, 0, 0, 0...|     1972|     \N|[Adventure,Drama,...| actress|[["Irene York"], ...|        Sissy Spacek|tt1454029,tt00742...|
+---------+--------------------+--------------------+--------------------+--------------------+---------+-------+--------------------+--------+--------------------+--------------------+--------------------+
only showing top 20 rows

+--------------+------------+
|min(startYear)|max(endYear)|
+--------------+------------+
|          1890|          \N|
+--------------+------------+

In [16]:
spark.sql("""select* from data where startYear = 0004""").show()

+------+------+---------+-------------+-------+---------+-------+------+--------+----------+-----------+--------------+
|nconst|tconst|titleType|originalTitle|isAdult|startYear|endYear|genres|category|characters|primaryName|knownForTitles|
+------+------+---------+-------------+-------+---------+-------+------+--------+----------+-----------+--------------+
+------+------+---------+-------------+-------+---------+-------+------+--------+----------+-----------+--------------+

In [17]:
Appearances = spark.sql("""SELECT (LENGTH(knownForTitles) - LENGTH(REPLACE(knownForTitles,",","")) + 1) AS CounterknownForTitles, count(*) as ilu_aktorow from data group by CounterknownForTitles""").toPandas()
Appearances

   CounterknownForTitles  ilu_aktorow
0                      1       893831
1                      3       167390
2                      5            6
3                      4       732232
4                      2       269695

In [19]:
Null_counter_table = spark.sql("""SELECT count(*) as nulls_category from data where category is null""").toPandas()
Null_counter_table

   nulls_category
0               0